extends ../layout

block content
  //
    main content
  .container.row.main
    include ../left_nav
    //
      center-col
    #center-col
      h1 Contact Us
      include ../flashify
      form.form-horizontal(action="/contact",method="post")
        div.control-group  
          label.control-label(for="type") Contact:
          div.controls
            select#type(name="type")
              option General Enquiries
        br
        div.control-group  
          label.control-label(for="name") Name:
          div.controls
            input#name(type="text",name="name")
        br
        div.control-group  
          label.control-label(for="phone") Phone:
          div.controls
            input#phone(type="text",name="phone")
        br
        div.control-group  
          label.control-label(for="email") Email:
          div.controls
            input#email(type="text",name="email")
        br
        div.control-group  
          label.control-label(for="contact_method") Contact Method:
          div.controls
            select#contact_method(name="contact_method")
              option Phone
        br
        div.control-group  
          label.control-label(for="company") Company:
          div.controls
            input#company(type="text",name="company")
        br
        div.control-group  
          label.control-label(for="address") Address:
          div.controls
            input#email(type="text",name="address")
        br
        div.control-group  
          label.control-label(for="city") City/Suburb:
          div.controls
            input#city(type="text",name="city")
        br
        div.control-group  
          label.control-label(for="state") State:
          div.controls
            select#state(name="state")
              option ACT
              option NSW
              option QLD
              option NT
              option VIC
              option WA
              option TAS
        br
        div.control-group  
          label.control-label(for="city") Comments:
          div.controls
            textarea.span9(rows=7)
        br
        div.control-group  
          div.controls
            button.btn.btn-primary Send
    