extends ../layout

block content
  .container.row.main
  
    include menu
    
    if (objUser.isAdmin())
      h1 Admin Dashboard
      #dashboard-left-col
        
        include owls
        
        include barns
      
      #dashboard-right-col
        .grid-header
          h2 This Month
        
        table.admin-gridview
         tbody
          tr
           td
            img(src='images/grey-arrow.png')
            | Website Signups
           td= signupsThisMonth
          
          tr
           td
            img(src='images/grey-arrow.png')
            | Expressions of Interest
           td 0

          //- tr
          //-  td
          //-   img(src='images/grey-arrow.png')
          //-   | Deal Registrations
          //-  td 135
          //- tr
          //-  td
          //-   img(src='images/grey-arrow.png')
          //-   | Shared Deal Registrations
          //-  td 135
         
         //- tfoot
         //-   tr
         //-     td(colspan='4')
         //-       a.button(href='#') View More Statistics
        
        .grid-header
          h2 Advertising
        
        table.admin-gridview
          tbody
            tr
              td Ads currently in rotation
              td= activeAdvertisementCount
          tfoot
            tr
              td(colspan='4')
                a.button(href='/admin/advertisements') Manage Ads
        
        .grid-header
          h2 Product and Service Suppliers
        
        table.admin-gridview
          tbody
            tr
              td Suppliers currently in rotation
              td= affiliates.length
          
          tfoot
            tr
              td(colspan='4')
                a.button(href="/admin/affiliates") Manage Suppliers
    - else
      h1 Developer Dashboard
      h3
        ul
          li: a(href='/admin/owls') Owl Deals
          li: a(href='/admin/barns') Barn Deals
