nav#admin-menu.admin-menu
  
  ul.sf-menu
    
    li: a(href='/admin', class='inactive') Dashboard
    
    li
      a(href='/owls', class='inactive') Deals
      ul
        li: a(href='/owls') Owl Deals
        li: a(href='/barns') Barn Deals
    
    - if (req.user && req.user.isAdmin())
      
      li
        a(href='/advertisements', class='inactive') Advertising
        ul
          li: a(href='/advertisements') Advertisements
          li: a(href='/advertisers') Advertisers
      li: a(href='/affiliates', class='inactive') Affiliates
      li: a(href='/posts', class='inactive') News / Research
      li: a(href='/pages', class='inactive') Pages
      li: a(href='/files', class='inactive') Files
      li: a(href='/reports', class='inactive') Reports
      li: a(href='/users', class='inactive') Users