extends ../layout

block content

  .container.row.main

    include ../left_nav
   
    #center-col
      h1 Research
      h3 Innovation in delivering Australia's best property deals
      - if (news.length == 0)
        p There are no research articles for now. Please check back soon. 
      - else
        - each post in news
          
          include summary
    
    include ../right_nav