.admin-actions
  ul
    if(action != 'add')
      li
        a(href="/admin/members/add")
          img(src='/images/add.png')
          | &nbsp;
          | Add Member
    if(action != 'index')
      li
        a(href="/admin/members")
          img(src='/images/manage.png')
          | &nbsp;
          | Manage Members