extends ../../layout

block content
  
  .container.row.main
    
    include ../menu
    
    h1 Add Member
    
    include actions
    
    .grid-header.form-header
    
    .details
      h2 User Details
      
      hr
      
      form.details-form(action='/admin/members', method='post')
        
        include ../../flashify
        
        include inputs
        
        .submit
          input.button(type='submit', value='Create User')
          a.left-button(href="/admin/members") Cancel 