tr(data-id=category.id)
  td= category.key

  td.actions
    a.delete(href='/admin/categories/#{category.id}/delete', alt='delete property')
      img(src='/images/delete.png', alt='Delete')
      | Delete