tr(data-id=category.id)
  td= category.name

  td.actions
    a.edit(href='/admin/affiliates/edit', alt='edit property')
      img(src='/images/edit.png', alt='Edit')
      | Edit

  td.actions
    a.delete(href='/admin/affiliates/delete', alt='delete property')
      img(src='/images/delete.png', alt='Delete')
      | Delete