extends ../../layout

block content
 //
   main content
 .container.row.main
   //
     center-col
   #center-col
    //
      main content
    .container.row.main
      h1
        | Add New Project 
        span.secondary - Details
      include ../../flashify
      .admin-actions
        ul
          li
            a(href='#')
              img(src='/images/manage.png')
              | Manage Projects
          li.disabled
            img(src='/images/add.png')
            | Add New Project
      .grid-header.form-header
        ol.six
          li.active
            .ol-1-active
            | Details
          li
            .ol-2
            | Features
          li
            .ol-3
            | Barn Deal
          li
            .ol-4
            | Images
          li
            .ol-5
            | Property Lots
          li
            .ol-6
            | Complete!
      .details
        h2 Details
        hr
        form.details-form(action="/administration/properties/add?step=1",method="post")
          .left
            .inputs
              label.required(for='propertyDeveloper') Listed By
                select#propertyDevelopername(name="developer")
                  - each developer in developers
                    option(value="#{developer.user_id}") #{developer.first_name} #{developer.last_name}
            .inputs
              label.required(for='propertyType') Property Type
              select#propertyType(name="ptype")
                - each ptype in property_types
                  option(value="#{ptype.property_type_id}")= ptype.type
                  
            .inputs
              label(for='propertyStage') Development Stage
              select#propertyStage
                option(value="otp") Off the Plan
                option(value="completed") Completed
                
            .inputs
              label.required(for='propertyTitle') Title
              input#propertyTitle(type='text',name="title")
              
          .right
            .inputs
              label.required(for='propertyAddress') Address
              input#propertyAddress(type='text',name="address")
              
            .inputs
              label.required(for='propertySuburb') Suburb
              input#propertySuburb(type='text',name="suburb")
              
            .inputs
              label(for='propertyState') State / Territory
              select#propertyState(name="state")
                option(value="qld") QLD
                option(value="nsw") NSW
                option(value="act") ACT
                option(value="vic") VIC
                option(value="sa") SA
                option(value="wa") WA
                option(value="nt") NT
                option(value="tas") TAS
                
            .inputs
              label.required(for='propertyPostcode') Postcode
              input#propertyPostcode(type='text')
          .inputs
            label(for='propertyDescription') Description
            textarea#propertyDescription(rows='5',name='description')
          .submit
            input.button(type='submit', value='Next Step')
      //
        end details
    //
      end main content