extends ../../layout

block content
 //
   main content
 .container.row.main
      include ../../admin-menu
      h1
        | Add New Deal
        span.secondary - Features
        
      .admin-actions
        ul
          li
            a(href='/administration/properties')
              img(src='/images/manage.png') 
              | &nbsp;
              | Manage Owl Deals
          li
            a(href='/administration/barn')
              img(src='/images/manage.png') 
              | &nbsp;
              | Manage Barn Deals
      .grid-header.form-header
        ol.six
          li.active
            .ol-1-active
            | Details
          li.active
            .ol-2-active
            | Features
          li
            .ol-3
            | Barn Deal
          li
            .ol-4
            | Images
          li
            .ol-5
            | Property Lots
          li
            .ol-6
            | Complete!
      .details
        h2 Files
        include ../../flashify
        .inputs
          p.note Attach files in PDF format. Max file size 5MB.
          form(action="/administration/properties/add?step=2", method="post", enctype="multipart/form-data")
            input(type="file",name="file")
            input(type="submit",name="cmdUpload",value="Upload")
        .inputs
          br
          table.admin-gridview.margin-top
            thead
              tr
                td File Name
                td Size
                td Actions
            tbody
              - if (files.length == 0)
                p No files have been uploaded.
              - else
                - each file in files
                  tr
                    td= file.description
                    td 200KB
                    td
                      a.deleteImage(href="#",data-id="#{file.media_id}")
                        img(src='/images/delete.png')
                        | Remove
          hr
        h2 Features
        form.details-form(action="/administration/properties/add?step=2",method="post")
          .left
            .inputs Internal Area (sq.m): 
              input(type="text",name="internal_area")
            .inputs External Area (sq.m): 
              input(type="text",name="external_area")
          .right
            .inputs Number of Bedrooms:
              select(name="bedrooms")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
            .inputs Number of Bathrooms: 
              select(name="bathrooms")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
            .inputs Number of Car Spaces: 
              select(name="cars")
                option(value="1") 1
                option(value="2") 2
                option(value="3") 3
                option(value="4") 4
                option(value="5") 5
          .inputs
          .submit
            - if (mode == 'edit')
              a.left-button(href="/administration/properties/add?step=1&edit") Previous Step
            - else
              a.left-button(href="/administration/properties/add?step=1") Previous Step
            input.button(type='submit', value='Next Step')
        //
          end details
      script
        $(document).ready(function(){
          $('.deleteImage').click(function(e){
            e.preventDefault();

            var p = $(this);
            var id = $(this).data('id');
            $.ajax({
              url: '/ajax/deleteMedia',
              type: 'DELETE',
              data: 'mid='+id

            }).done(function(d){
              $(p).parent().parent().fadeOut();
            });

          });
        });
  
    //
      end main content