extends ../../layout

block content  
  //
    main content
  .container.row.main
    include ../../admin-menu
    h1
      | Add New Deal 
      span.secondary - Complete!
    .admin-actions
      ul
        li
          a(href='/administration/properties')
            img(src='/images/manage.png') 
            | &nbsp;
            | Manage Owl Deals
        li
          a(href='/administration/barn')
            img(src='/images/manage.png') 
            | &nbsp;
            | Manage Barn Deals
    .grid-header.form-header
      ol.six
        li.active
          .ol-1-active
          | Details
        li.active
          .ol-2-active
          | Features
        li.active
          .ol-3-active
          | Barn Deal
        li.active
          .ol-4-active
          | Images
        li.active
          .ol-5-active
          | Property Lots
        li.active
          .ol-6.active
          | Complete!
    .details
      h2 You're all done!