.admin-actions
  
  ul
    
    unless action == 'add'
      li
        a(href='/advertisements/add')
          img(src='/images/add.png')
          | &nbsp;
          | Add Advertisement
    
    unless action == 'index'
      li
        a(href='/advertisements')
          img(src='/images/manage.png')
          | &nbsp;
          | Manage Advertisements