extends ../../layout

block content
  
  .container.row.main
   
    include ../menu
    
    h1 Add Advertisement
    
    include actions
    
    .grid-header.form-header
    
    .details
      
      form.details-form(action='/advertisements', method='post', enctype='multipart/form-data')
        
        include ../../flashify
        
        include inputs
        
        .submit
          input.button(type='submit', value='Post Advertisement')
          a.left-button(href='/advertisements') Cancel