extends ../../layout

block content
  
  .container.row.main
    
    include ../menu
    
    #center-col.mobile-full
      
      h3 Delete Advertisement?
      
      p Are you sure you wish to delete:
      
      table.admin-gridview
        thead
          tr
            td ID
            td Description
            td Advertiser
            td Page
            //- td Space
            td Image
            td Hyperlink
            //- td Duration
            td Visible
            td(colspan='2') Actions
        
        tbody
        
          include summary
      
      form.form-horizontal(action="/advertisements/#{advertisement.id}", method='post')
        
        input(type='hidden', name='_method', value='delete')
        
        div.control-group
          
          div.controls
            
            input.btn.btn-danger(type='submit', value='Delete')
            | &nbsp;
            a.btn(href='/advertisements') Cancel