extends ../../layout

block content
 .container.row.main
   include ../menu
   
   h1 Advertisements
   
   include actions
   
   .grid-header.form-header
   
   table.admin-gridview
     thead
       tr
         td ID
         td Description
         td Advertiser
         td Page
         //- td Space
         td Image
         td Hyperlink
         //- td Duration
         td Visible
         td(colspan='2') Actions
     
     tbody
      - each advertisement in advertisements
         include summary