.admin-actions
  ul
    li
      a(href='/admin/owls/add')
       img(src='/images/add.png')
       | &nbsp;
       | Add Owl
    li
      a(href='/admin/owls')
        img(src='/images/manage.png')
        | &nbsp;
        | Manage Owls