//- .inputs
//-   label.required(for='image') Deal
//-     input#image(type='text', name="image")

.inputs
  label.required() Deals
  table.admin-gridview.deals
    thead
      tr
        td Type
        td Description
        td Value
        td Delete
    tbody.body
      - if (owl.deals && owl.deals.length)
        - each deal in owl.deals
          include deal_input
    tfooter.footer
      tr
        td(colspan='4')
          //- a.add(href='#', style="text-align: center;") add deal +
          a.add(href='#', style="text-align: center;")
            img(src='/images/add.png')
            | &nbsp;
            | Add Deal

table.template(style='display: none;')
  tbody
    - if (!locals.deal) { locals.deal = {}; }
    include deal_input