h2 Deal Details
hr
.inputs
  
  table.admin-gridview.deals(data-entity_type='owl')
    
    thead
      tr
        td.thumb Deal Type
        td Description
        td.thumb Value
        td Actions
    
    tbody.body
      //- pre= JSON.stringify(owl.deals)
      - if (owl.deals && owl.deals.length)
        - each deal in owl.deals
          include deal_input
    
    tfooter.footer
      tr
        td(colspan='4')
          a.add.button(href='#')
            img(src='/images/add.png')
            | &nbsp;
            | Add Deal
    
table.template(style='display: none;')
  tbody
    - if (!locals.deal) { locals.deal = {}; }
    include deal_input