extends ../../layout

block content
  
  .container.row.main
    
    include ../menu
    
    h1 Edit Owl Deal
    
    include actions
    
    .grid-header.form-header.pane-nav
    
    .details
      
      form.details-form.deal.fake.owl(action="/owls/#{owl.id}", method='post', enctype='multipart/form-data', data-id=owl.id)
        
        input(type='hidden', name='_method', value='put')
        
        include ../../flashify
        
        include inputs
        
        .submit
          input.button(type='submit', value='Edit Owl').owl-button
          a.left-button(href='/owls') Cancel