extends ../../layout

block content
  
  .container.row.main
    
    include ../menu
    
    h1 Edit Owl Deal
    
    include actions
    
    .grid-header.form-header
    
      //- ol.six
      //-   li.active
        
      //-   li
      //-     .ol-1-active
      //-     | Details
        
      //-   li
      //-     .ol-2
      //-     | Features
        
      //-   li
      //-     .ol-3
      //-     | Deals
        
      //-   li
      //-     .ol-4
      //-     | Images
        
      //-   li
      //-     .ol-5
      //-     | Files
    
    .details
      
      form.details-form.fake.owl(action="/admin/owls/#{owl.id}", method='post', enctype='multipart/form-data', data-id=owl.id)
        
        input(type='hidden', name='_method', value='put')
        
        include ../../flashify
        
        include inputs
        
        .submit
          input.button(type='submit', value='Edit Owl')
          a.left-button(href='/admin/owls') Cancel