extends ../../layout

block content
  .container.row.main
    
    include ../../admin-menu
    
    h1 Add Owl
    
    include actions
    
    .grid-header.form-header
      ol.six
        li.active
          .ol-1-active
          | Details
    
    .details
      h2 Owl Details
      
      hr
      
      form.details-form(action='/owls', method='post')
        
        include ../../flashify
        
        .left
          
          .inputs
            label(for='title') Title
            input#title(type='text', name='title', value='')
          
          .inputs
            label(for='description') Description
              textarea#description(name='description')
          
          .inputs
            label(for='features') Features
            select(name='features')
              option(value='foo') foo
              option(value='bar') bar
              option(value='zip') zip
              option(value='zap') zap
        
        .right
        
          .inputs
            label(for='title') Address
            input#address(type='text', name='address', value='')
          
          .inputs
            label(for='suburb') Suburb
            input#suburb(type='text', name='suburb', value='')
          
          .inputs
            label(for='postcode') Postcode
            input#postcode(type='text', name='postcode', value='')
        
        .inputs
        
        .submit
          input.button(type='submit', value='Create Owl')
          a.left-button(href='/admin/owls') Cancel