.inputs
  label(for='indoor_features') Indoor Features
  textarea(name='indoor_features')= owl.indoor_features

.inputs
  label(for='outdoor_features') Outdoor Features
  textarea(name='outdoor_features')= owl.outdoor_features

.inputs
  label(for='other_features') Other Features
  textarea(name='other_features')= owl.other_features

- var aspects = ['North','South','East','West','North-East','North-West','South-East','South-West', ' ']

.inputs
  label(for='aspect') Aspect
  select(name="aspect")
    each aspect in aspects
      option(value=aspect,selected=(owl.aspect == aspect) ? true : false)= aspect