h2 Files
hr
.inputs
  label Browse
  input#files(type='file', name='files', multiple='multiple')
  span.note Max file size 4MB.

.inputs
  table.admin-gridview.files
    thead
      tr
        td.thumb Thumb
        td File Name
        td Actions
    
    tbody.body
      - if (owl.files && owl.files.length)
        - each file in owl.files
          include file_input