.details
  h2 Owl Details
  
  hr
  
  form.details-form(action='/owls', method='post')
    
    include ../../flashify
    
    include inputs
    
    .submit
      input.button(type='submit', value='Create Owl')
      a.left-button(href='/admin/owls') Cancel