.inputs
  label.required() Images

.inputs
  

.inputs
  table.admin-gridview.images
    thead
      tr
        td Thumb
        td Hero Image
        td Delete?
    tbody.body
      - if (owl.images && owl.images.length)
        - each image in owl.images
          include image_input
    tfooter.footer
      tr
        td(colspan='3')
          //- a.add(href='#') add image +
          label Upload
          input#image(type='file', name='image', multiple)

//- table.imgTemplate(style='display: none;')
//-   tbody
//-     - if (!locals.image) { locals.image = {}; }
//-     include image_input