h2 Images
hr
.inputs
  label Browse
  input#images(type='file', name='images', multiple)
  span.note Max file size 4MB. Images will be resized to 800 x 600 pixels (w x h).

.inputs
  table.admin-gridview.images
    thead
      tr
        td Thumb
        td Hero Image
        td Actions
    
    tbody.body
      - if (owl.images && owl.images.length)
        - each image in owl.images
          include image_input