extends ../../layout

block content
  
  .container.row.main
      
      include ../menu
    
      h1 Owl Deals
      
      include actions
      
      .grid-header.form-header
      
      table.admin-gridview.deal-grid
        
        thead
          tr
            td(style='text-align: center;') ID
            td(style='text-align: center;') Listed On
            td(style='text-align: center;') Title
            td(style='text-align: center;') Address
            td(style='text-align: center;') State
            td(style='text-align: center;') Status
            td(style='text-align: center;') Deal Value
            td(style='text-align: center;') Registrations
            td(style='text-align: center;', colspan='3') Actions
        
        tbody
        if owls.length > 0
          - each owl in owls
            include summary
        
        tfoot