.panes(style='display: none; min-height: 666px;', data-tab=req.user.level)
  
  .inputs.index.pane(data-key='index', data-label='details')
    include index_inputs
  
  .inputs.address.pane(data-key='address')
    include address_inputs
  
  .inputs.feature.pane(data-key='feature', data-label='features')
    include feature_inputs
  
  .inputs.image.pane(data-key='image', data-label='images')
    include image_inputs
  
  .inputs.file.pane(data-key='file', data-label='files')
    include file_inputs
  
  unless req.url == '/owls/add'
    .inputs.deal.pane(data-key='deal')
      include deal_inputs
  
  unless req.url == '/owls/add'
    .inputs.clone.pane(data-key='clone')
      include clone_inputs