.panes(style='display: none;', data-tab=objUser.level)
  
  - if (objUser.isAdmin())
    .inputs.index.pane(data-key='index')
      label(for='title') Approved
        input.big(id='approved', name='approved', type='checkbox', checked=owl.approved)
  
  .inputs.detail.pane(data-key='detail')
    include detail_inputs
  
  .inputs.address.pane(data-key='address')
    include address_inputs
  
  .inputs.area.pane(data-key='area')
    include area_inputs
  
  .inputs.image.pane(data-key='image')
    include image_inputs
  
  .inputs.file.pane(data-key='file')
    include file_inputs
  
  .inputs.deal.pane(data-key='deal')
    include deal_inputs