.panes(style='display: none;')
  
  .inputs.index.pane
    label(for='title') Approved
      input.big(name='approved', type='checkbox', checked=owl.approved)

  .inputs.detail.pane
    include detail_inputs

  .inputs.address.pane
    include address_inputs

  .inputs.area.pane
    include area_inputs

  .inputs.image.pane
    include image_inputs

  .inputs.file.pane
    include file_inputs

  .inputs.deal.pane
    include deal_inputs