.panes(style='display: none;', data-tab=objUser.level)
  
  - if (objUser.isAdmin())
    .inputs.index.pane(data-key='index')
      
      h2 Approval
      
      label(for='title') Approved
        | &nbsp;
        input.big(id='approved', name='approved', type='checkbox', checked=owl.approved)
      
      - var display = (owl.approved == true) ? 'block' : 'none';
      
      div#approved_at(style="display: #{display}")
        label(for='title') Approved at
        input(id='approved_at_val', name='approved_at', type='date')
      
      script
        $(document).ready(function(){
          $("#approved").click(function(){
            if ($(this).attr('checked'))
            {
              $("#approved_at").show();
            }
          else
            {
              $("#approved_at").hide();
            }
          });
        });
      
      h2 Similar Deals
      
      table.similar_deals_table
        th
          //- td ID
          //- td Title
          //- td Address
          //- td Suburb
          //- td State
        tbody
        
        tfooter
      
      h2 Clone
      
      label.clone_label
      
      .clone_range_label(style='float: left; width: 1em;')
      
      input.clone_range(type='range', min='1', max='5', step='1', style='float: left; width: 10%; height: 32px; margin-left: 1em; margin-right: 1em;')
      
      button.clone_button(style='margin-left: 1em; width: 6em; height: 32px; line-height: 32px;') Clone
      
      div(style='clear: both;')
      
      table.clone_table(style='width: 100%;')
      
      style
        table.clone_table td {
          border: 1px dashed #ddd;
        }
  
  .inputs.detail.pane(data-key='detail', data-label='details')
    include detail_inputs
  
  .inputs.address.pane(data-key='address')
    include address_inputs
  
  .inputs.area.pane(data-key='area')
    include area_inputs
  
  .inputs.image.pane(data-key='image', data-label='images')
    include image_inputs
  
  .inputs.file.pane(data-key='file', data-label='files')
    include file_inputs
  
  .inputs.deal.pane(data-key='deal')
    include deal_inputs