div.admin-sidemenu
  ul
    li
      a(href='/admin/reports/dealListings') Deal Listings
    li
      a(href='/admin/reports/websiteRegistrations') User Website Registrations
    li  
      a(href='/admin/reports/propertySearches') Property Searches
    li  
      a(href='/admin/reports/dealRegistrations') Deal Registrations
    li  
      a(href='/admin/reports/servicesEnquiries') Product & Service Enquiries
    li  
      a(href='/admin/reports/advertisingClicks') Advertising Click Throughs
    li  
      a(href='/admin/reports/referrals') Friend Referrals