nav#admin-menu.admin-menu
  
  ul.sf-menu
    
    li: a(href='/admin/reports/dealListings') Deals
    li: a(href='/admin/reports/websiteRegistrations') Signups
    li: a(href='/admin/reports/propertySearches') Searches
    li: a(href='/admin/reports/dealRegistrations') Registrations
    li: a(href='/admin/reports/servicesEnquiries') Enquiries
    li: a(href='/admin/reports/advertisingClicks') Advertising
    li: a(href='/admin/reports/referrals') Referrals