nav#admin-sub-menu.admin-menu(style="margin-top:0.5em; background-color:#0B0E33;")
  
  ul.sf-menu
    
    li: a(href='/reports/dealListings') Deals
    li: a(href='/reports/websiteRegistrations') Signups
    li: a(href='/reports/propertySearches') Searches
    li: a(href='/reports/dealRegistrations') Registrations
    li: a(href='/reports/servicesEnquiries') Enquiries
    li: a(href='/reports/advertisingClicks') Advertising
    li: a(href='/reports/referrals') Referrals