extends ../../layout

block content
 //
   main content
 .container.row.main
   include ../../admin-menu
   h1 Reports
    span.secondary  - Deal Listings
   include reportsMenu
   
   //include reports-menu
