extends ../../layout

block content
  
  .container.row.main
    
    include ../menu
    
    h1 Reports
    
    include menu
    
    script
      window.barns = !{JSON.stringify(barns)};
      window.owls = !{JSON.stringify(owls)};
    
    .registration_graph