extends ../layout

block content
  //
    main content
  .container.row.main
    include ../left_nav
    //
      center-col
    #center-col 
      h1 Administration
      ul
      - each page in pages
        li
          a(href="/administration/#{page.url}")= page.name