extends ../layout

block content
  //
    main content
  .container.row.main
    include ../left_nav
    //
      center-col
    #center-col 
      h1 Administration
      li
        a(href="/administration/news") News
      li
        a(href="/administration/members") Members