//
  main content
.container.row.main
  include ../../admin-menu
  h1 Supplier Categories
  include navigation
  .grid-header
    form#search-form
      input.button(type='submit', value='Add new category')