.admin-actions
  ul
    li
      a(href='/administration/services/add')
        img(src='/images/add.png')
        | Add New Supplier
    li
      a(href="/administration/services/")
        img(src='/images/manage.png')
        | Manage Suppliers
    li
      a(href='/administration/services/categories/add')
        img(src='/images/add.png')
        | Add New Category
    li
      a(href='/administration/services/categories')
        img(src='/images/manage.png')
        | Manage Categories