.grid-header.form-header

.details
  
  h2 Upload
  
  hr
  
  form.details-form(enctype='multipart/form-data', method='POST')
    
    input(name='file', type='file')
    
    .submit
      input.button(type='submit', value='Upload')