#generic-modal.modal-overlay(style='display: none;')
  .modal.main.success
      a.close-modal(href='#')
        img(src='/images/modal-close.png', alt='Close')
      h1#generic-modal-title.modal-title Modal title!
      #generic-modal-content.details-form