- if (req.user && req.user.isHacker())
  .hacker
    include admin/menu
  style
    .hacker { background: #BADA55; }
    .hacker #admin-menu { background: #BADA55; }
    .hacker #admin-menu > ul > li { color: #D95477; text-shadow: none; }
    .hacker #admin-menu > ul > li > a { color: #D95477; text-shadow: none; }