.container.row
  
  header#header
    
    #top-header
      
      #logo-box
        
        a#logo(href='/'): img(src='/images/logo.png')
      
      include adverts/banner
      mixin banner_ad(ads[0])
    
    nav#menu
      
      include menu