extends layout

block content
  //
    main content
  .container.row.main
    include left_nav
    //
      center-col
    #center-col
      h1 About Property Owl
      p
        | Propertyowl.com.au was established by a group of real estate and marketing professionals to assist buyers of residential property access to the best discounts, offers, deals or incentives that a residential property developer (seller) will provide.
      p
        | Propertyowl.com.au is Australia's first to provide residential property developers with their own unique website platform specifically developed to showcase and sell their products without being lost amongst the thousands of private sellers of homes, land, apartments, units, townhouses, etc.
      p
        | The website allows property developers a greater reach to larger audiences of prospective buyers who have a particular interest in new properties.
      p
        | The propertyowl.com.au website provides our subscribers with genuine deals without having to cut through the noise of advertising, marketing hype and pushy sales people.
      p
        | The website has been developed to provide full disclosure of all known information relating to a residential product/development either 'off the plan' or 'completed' so that our registered subscribers to propertyowl.com.au can make informed buying decisions, whilst also taking advantage of the great deals on offer.
      p
        | Propertyowl.com.au uses its best endeavours to obtain all known information that relates to specific residential developments advertised on the website.
        | We value the feedback that you provide us as it enables us to constantly improve our site.
      p
        | Propertyowl.com.au is committed to enriching the lives of Australians through its support of charitable organisations and innovative programs to build strong and nurturing communities.
    //
      end center-col
    //
      right-col
    #right-col
      img#ad-tower1.ad-tower(src='/images/ad-tower.jpg', alt='Tower Advert')
      img#ad-tower2.ad-tower(src='/images/ad-tower.jpg', alt='Tower Advert')