nav#admin-menu
  ul.sf-menu
    li
      a.active(href='/administration') Dashboard
    li
      a(href='/administration/properties') Property Deals
      ul
        li
          a(href='/administration/properties') Manage Property Listings
        li
          a(href='/administration/properties') Manage Barn Deal Listings
    li
      a(href='/administration/advertising') Advertising
      ul
        li
          a(href='/administration/advertisers') Advertisers
        li
          a(href='/administration/adspaces') Spaces
    li
      a(href='/administration/services') Products & Service Suppliers
    li
      a(href='/administration/pages') Content
      ul
        li
          a(href='/administration/news') Manage News
        li
          a(href='/administration/pages') Manage Pages
    li
      a(href='#') Reports
    li  
      a(href='/administration/members') Members
