nav#admin-menu
  ul.sf-menu
    li
      a.active(href='administration') Dashboard
    li
      a(href='#') Property Deals
      ul
        li
          a(href='manage-properties.html') Manage Property Listings
        li
          a(href='#') Manage Barn Project Listings
    li
      a(href='#') Advertising
      ul
        li
          a(href='#') Advertising Blocks
        li
          a(href='#') Products & Service Suppliers
    li
      a(href='#') Content
      ul
        li
          a(href='#') Manage News
        li
          a(href='#') Manage Pages
        li
          a(href='#') Manage Menus
    li
      a(href='#') Reports
    li  
      a(href='#') Users