if (flash.error != undefined)
  div
    h4.alert-header Error 
    each error in flash.error
      li= error
      
if (flash.notice != undefined)
  div
    h4.alert-header Hold up! 
    each notice in flash.notice
      li= notice

if (flash.info != undefined)
  div
    h4.alert-header Attention: 
    each info in flash.info
      li= info
      
if (flash.success != undefined)
  div
    h4.alert-header Woot! 
    each success in flash.success
      li= success