if (flash.error != undefined)
  .alert.alert-error
    h4 Uh Oh, we have a problem:
    ul
      each error in flash.error
        li= error
      
if (flash.notice != undefined)
  .alert.alert-block
    h4 Hold up!
    ul
      each notice in flash.notice
        li= notice

if (flash.info != undefined)
  .alert.alert-info
    h4 Attention: 
    ul
      each info in flash.info
        li= info
      
if (flash.success != undefined)
  .alert.alert-success
    h4 Success!
    ul
      each success in flash.success
        li= success