footer#footer.row
  
  div.quarter-col
    h4 Company
    ul
      li: a(href='/terms-and-conditions') Terms and Conditions
      li: a(href='/privacy') Privacy Policy
      li: a(href='/about') About Us
  
  div.quarter-col
    h4 What is Property Owl?
    ul
      li: a(href='/why-the-owl') Why the Owl?
      li: a(href='/') Home Page
      li: a(href='/faq') FAQs
  
  .social.quarter-col
    h4 Follow Us
    
    ul
      li.social
        a(href='https://www.facebook.com/propertyowlau',target='_blank')
          img(src='/emails/images/facebook.png', width='21', height='21', alt='facebook', style='border: none; padding: 0; margin: 0;')
      li.social
        a(href='https://twitter.com/PropertyOwlNest',target='_blank')
          img(src='/emails/images/twitter.png', width='21', height='21', alt='twitter', style='border: none; padding: 0; margin: 0;')
      li.social
        a(href='http://pinterest.com/propertyowl/',target='_blank')
          img(src='/emails/images/pinterest.png', width='21', height='21', alt='pinterest', style='border: none; padding: 0; margin: 0;')
  
  
  div.quarter-col
    h4 Contact
    ul
      li: a(href='/contact') Developer Enquiries
      li: a(href='/contact') Agent Enquiries
      li: a(href='/contact') Advertising Enquiries
  
  div.bottom
      span.attributed Website by 
        a(href="http://www.digital8.com.au",target="_blank") Digital8
      //- - var dateNow = new Date();
      //- - var yy = dateNow.getFullYear().toString();  
      //- | &copy; Copyright #{yy} Property Owl
      | &copy; Copyright 2013 Property Owl