extends layout

block content
  
  .container.row.main
  
    include left_nav
    
    #center-col.mobile-full
    
      a#back-button(href='/barn-deals') Back
      h1 The Barn - Group Buying Power
      h2 How it works
      p Did you know that a group of owls is known as a 'Parliament of Owls?
      p
        | So why is this piece of trivia important?  Because collectively as a group of individuals you will have greater opportunities in catching the deal that you seek.
      p
        | Sellers of new properties (land, apartments, townhouses, house land packages, etc.) who have 3 – 5 similar properties can sell these at the one time.  Sellers recognise the benefits of selling multiple properties at the same time and are willing to share those benefits with you the buyer.
      p
        | Click 'Swoop Here' on any of the new residential property listings to access a host of information that relates specifically to the barn deal selected.
      p
        | A 'Barn' listing with all available properties and land (lots) for sale will then be displayed in a matrix located below the images of the development.  Research and select the particular property (lot) you wish to purchase by clicking on the GO tab on the right side of the matrix.  Once selected, that particular property (lot) will be shaded another colour to indicate that it is no longer available.
      p Complete the enquiry template, including your contact telephone/mobile details.
      p Provided all Lots are secured within the time frame then the deal is activated.
      p
        | Once activated the seller's agent will be in contact to discuss the buying process.  Don't worry if you missed out.  Register in The Barn to remain in contention for further deals as they come online or if a buyer does not progress to the next stage.
      p
        | Remember that by purchasing in The Barn, you are availing yourself to an extra special deal that is not available elsewhere.  You will sometimes also notice View Barn Deal icon in an Owl Deals listing - click on this to access The Barn listing immediately.  The deal will be different but how much time can you spare?
      p
        | Buy now in Owl Deals or wait for the registered number of properties (lots) to be swooped on in The Barn.

    include right_nav
  