extends layout

block content
  // quick view product modal
  script
    $(document).ready(function(){
      $(".secure-button").click(function(){
        $('body').append('<div class="quick-view-modal" id="register" onclick="javascript: window.location=\'/best-deal\';" style=""><div class="modal"><a href="#" class="modal-close"></a></div></div>');
      });
    });
  //
    main content
  .container.row.best-deal
    .home-deal-stats
      .home-timer
        #timer
          #day-timer
            span.label Days
            span.value 01
          #hour-timer
            span.label Hours
            span.value 13
          #minute-timer
            span.label Minutes
            span.value 07
        #map
          img#map-image(src='/images/map.png', usemap='#australia', alt='Click on a State of Australia')
          map(name='australia')
            area#map-wa(shape='polygon', coords='65,25,65,100,17,116,3,62,57,19', href='/deals/state/wa')
            area#map-nt(shape='polygon', coords='65,25,65,69,103,69,103,35,91,24,94,13,75,10', href='/deals/state/nt')
            area#map-qld(shape='polygon', coords='103,68,103,34,111,39,119,10,159,82,116,82,116,68', href='deals/state/qld')
            area#map-sa(shape='polygon', coords='116,68,65,68,65,100,116,129', href='/deals/state/sa')
            area#map-nsw(shape='polygon', coords='116,82,159,82,145,126,116,104', href='/deals/state/nsw')
            area#map-vic(shape='polygon', coords='116,104,145,126,137,131,110,128,116,129', href='/deals/state/vic')
            area#map-act(shape='square', coords='155,110,185,110,185,120,155,120', href='/deals/state/act')
            area#map-tas(shape='square', coords='120,140,170,140,170,155,120,155', href='/deals/state/tas')
      .home-counter
        span.label Number of Enquiries
        span.value 1,345
    .deal-summary(style='background-image: url(\'/images/hero-image.jpg\');')
      .home-hero-caption
        img#house-icon(src='/images/house-icon.png', alt='Australia\'s Best Property Deal')
        h2 Australia's Best Property Deal
        p
          | Developer pays Stamp Duty, Window Coverings and 1 Year rental Guarantee.
          a(href='#', alt='Find out more about Australia\'s best property deal') Find out more
      a.secure-button(href='#')
        | Secure this deal!
        img#secure-arrow(src='/images/arrow-icon.png', alt='Secure this deal!')
  .container.row.main
    //
      left-col
    #left-col
      .barn-box
        a(href="/barn-deals")
          h2 The Barn
          img#barn-image(src='/images/barn.png', alt='The Barn Group Deals')
          h3 Group Deals
      img#ad-box1.ad-box(src='/images/ad-box.jpg', alt='Box Advert')
      img#ad-box2.ad-box(src='/images/ad-box.jpg', alt='Box Advert')
      .find-deals
        h2 Find Deals
        form#input-form
          img(src='/images/search-map-icon.png', alt='State / Territory')
          label(for='propertyState') State / Territory
          select#propertyState
            option All
            option ACT
            option NSW
            option NT
            option QLD
            option SA
            option TAS
            option VIC
            option WA
          img(src='/images/search-property-icon.png', alt='Property Type')
          label(for='propertyType') Property Type
          select#propertyType
            option All
            option Apartment
            option Townhouse
            option Unit
            option House
            option Land
            option House and Land
            option Villa
            option Acreage
          img(src='/images/search-deal-icon.png', alt='Deal Type')
          label(for='propertyDealType') Deal Type
          select#propertyDealType
            option All
            option Stamp Duty
            option Furniture Package
            option Blinds
            option Rental Guarantee
            option Entertainment System
          img(src='/images/search-price-icon.png', alt='Minimum Price')
          label(for='propertyMinPrice') Min. Price
          select#propertyMinPrice
            option Any
            option 50,000
            option 100,000
            option 150,000
            option 200,000
            option 250,000
            option 300,000
            option 350,000
            option 400,000
            option 450,000
            option 500,000
            option 550,000
          img(src='/images/search-price-icon.png', alt='Maximum Price')
          label(for='propertyMaxPrice') Max. Price
          select#propertyMaxPrice
            option Any
            option 50,000
            option 100,000
            option 150,000
            option 200,000
            option 250,000
            option 300,000
            option 350,000
            option 400,000
            option 450,000
            option 500,000
            option 550,000
            option 600,000
            option 650,000
            option 700,000
            option 750,000
            option 800,000
            option 850,000
            option 900,000
            option 950,000
            option 1,000,000
            option 1,250,000
            option 1,500,000
            option 1,750,000
            option 2,000,000
            option 2,500,000
            option 3,000,000
            option 4,000,000
            option 5,000,000
            option 10,000,000
          .small-left
            img.small(src='/images/search-bed-icon.png', alt='Number of Beds')
            label(for='propertyMinBeds') Min. Beds
            select#propertyMinBeds
              option Any
              option Studio
              option 1
              option 2
              option 3
              option 4
              option 5
          .small-right
            img.small(src='/images/search-bed-icon.png', alt='Number of Beds')
            label(for='propertyMaxBeds') Max. Beds
            select#propertyMaxBeds
              option Any
              option Studio
              option 1
              option 2
              option 3
              option 4
              option 5
          .small-left
            img.small(src='/images/search-bath-icon.png', alt='Number of Bathrooms')
            label(for='propertyBathrooms') Bathrooms
            select#propertyBathrooms
              option Any
              option 1+
              option 2+
              option 3+
              option 4+
              option 5+
          .small-right
            img.small(src='/images/search-car-icon.png', alt='Number of Car Spaces')
            label(for='propertyCarSpaces') Car Spaces
            select#propertyCarSpaces
              option Any
              option 1+
              option 2+
              option 3+
              option 4+
              option 5+
          img(src='/images/search-development-icon.png', alt='Development Stage')
          label(for='propertyState') Development Stage
          select#propertyState
            option All
            option Off The Plan
            option Completed
          input.button(type='submit', value='Submit')
    //
      end left-col
    //
      center-col
    #home-center-col
      h1 Welcome to Property Owl!
      p
        | Property Owl offers the best deals on new residential properties Australia wide, with new deals uploaded to the website every Wednesday at 12 midday!
      p
        | The Property Owl website provides for the best possible deals on selected new properties across the Australian real estate market.  Properties listed on Property Owl must include a minimum value deal to advertise on the website.  It is important to note that these deals are not available through the Seller direct.
      p So how does it work?
      p
        | New deals are uploaded to the Property Owl website on a weekly basis via the
        span.emphasis 'Owl Deals'
        | tab.  All properties represented on the website are then assessed by the Property Owl system where the best 'value for money' deal for each state across Australia is accessed via the
        span.emphasis 'Best State Deal'
        | tab.   Once the best value for money deals have been selected for each state, the Property Owl system then assesses and selects the best deal nationally and is accessed via the
        span.emphasis 'Australia's Best Property Deal'
        | tab.
      p
        | The 'value for money' deals (based on percentage value) calculated and selected by the Property Owl system are legitimate deals.  Sellers cannot secure the 'The Best State' and 'Australia's Best Property Deal' positions on the website through paid advertising.  In order to secure these positions the Sellers must put forward their best deal - Simple.
      p
        | You must be quick in securing these deals in 'Best State Deal' and 'Australia's Best Property Deal' as they are for a 7 day period, unless sold sooner.  The timer on the left hand side of the web page indicates how much time remains before the deal finishes.
      p
        | If you like any of the deals represented then simply click on the
        span(style='color: #009300;')
          strong green
        span.emphasis 'Secure the Deal'
        | tab where you will be prompted to complete the relevant enquiry form.  Once completed it is then forwarded to the Sellers representative who will contact you in relation to the next step of the purchasing process.
      p
        | If you are interested in obtaining an even better deal, then swoop on a selected property within
        span.emphasis 'The Barn'
        | .  In 'The Barn' Sellers list a number of similar new properties in the one location and offer further deals to groups of individuals who collectively take up the offer within the required time.
      p
        | Not currently in the market to purchase a property yourself?  Refer a friend who then registers with and subsequently purchases a property through Property Owl and you will be rewarded with a $1000.00 nest egg for your referral.
      p So what are you waiting for - Swoop in today!
      p
        span.emphasis Property Owl – Innovation in delivering Australia's Best Property Deals.
    //
      end center-col
    //
      right-col
    #right-col
      img#ad-tower1.ad-tower(src='/images/ad-tower.jpg', alt='Tower Advert')
      img#ad-tower2.ad-tower(src='/images/ad-tower.jpg', alt='Tower Advert')
    //
      end right-col
  //
    end main content
      
  <script src="/js/wwv_client.js" type="text/javascript"></script>
  <script src="/js/swfobject.js" type="text/javascript"></script>
  script(type='text/javascript')
    try { attachWebWalkVideo('262'); } catch (err) { }
