extends layout

block content
  .container.row.best-deal
    .home-deal-stats
      .home-timer
        #timer
          #day-timer
            span.label Days
            span#day-timer-days.value
          #hour-timer
            span.label Hours
            span#day-timer-hours.value
          #minute-timer
            span.label Mins
            span#day-timer-mins.value
        
        #map
      
      .home-counter
        span.label Number of Enquiries
        span.value= owl.registrations
    
    .deal-summary.clickable(style="background-image: url('#{owl.heroImageURL()}');", url='owls/top')
      .home-hero-caption
        img#house-icon(src='/images/house-icon.png', alt=owl.title)
        h2= owl.title
        p
          = _s.prune(owl.description, 150)
          a(href='#', alt="Find out more about Australia's best property deal") Find out more
      
      a.secure-button(href='/owls/top')
        | Express Your Interest!
        img#secure-arrow(src='/images/arrow-icon.png', alt='Express Your Interest!')
  
  .container.row.main
    
    #left-col
      
      include left_nav
    
    #home-center-col
      
      include welcome
    
    include right_nav
  
  include creep