!!! 5
html.no-js(lang='en')
  
  include head
  
  body
    
    include _hacker
    
    include _enquiry
    
    include _login
    include _users
    
    include _generic
    
    if locals.req && locals.req.user
      include _registration
      include _referral
      include _referral_link

    include _header
    
    block content
    
    include footer

include _hacks