#left-col
  - if (req.url != '/')
    .deal-stats
      .timer
      
        #timer
          #day-timer
            span.label Days
            span#day-timer-days.value
          #hour-timer
            span.label Hours
            span#day-timer-hours.value
          #minute-timer
            span.label Mins
            span#day-timer-mins.value
        
        #map
          //- img#map-image(src='/images/map.png', usemap='#australia', alt='Click on a State of Australia')
          //- map(name='australia')
          //-   area#map-wa(shape='polygon', coords='65,25,65,100,17,116,3,62,57,19', href='/owls/state/wa')
          //-   area#map-nt(shape='polygon', coords='65,25,65,69,103,69,103,35,91,24,94,13,75,10', href='/owls/state/nt')
          //-   area#map-qld(shape='polygon', coords='103,68,103,34,111,39,119,10,159,82,116,82,116,68', href='/owls/state/qld')
          //-   area#map-sa(shape='polygon', coords='116,68,65,68,65,100,116,129', href='/owls/state/sa')
          //-   area#map-nsw(shape='polygon', coords='116,82,159,82,145,126,116,104', href='/owls/state/nsw')
          //-   area#map-vic(shape='polygon', coords='116,104,145,126,137,131,110,128,116,129', href='/owls/state/vic')
          //-   area#map-act(shape='square', coords='155,110,185,110,185,120,155,120', href='/owls/state/act')
          //-   area#map-tas(shape='square', coords='120,140,170,140,170,155,120,155', href='/owls/state/tas')
      
      - if (locals.owl)
        .counter
          span.label Number of Enquiries
          span.value= Number(owl.registrations) + 1337 + Math.floor((Math.random() * 1337))
  
  .barn-box
    a(href='/barns')
      h2 The Barn
      img#barn-image(src='/images/barn.png', alt='The Barn Group Deals')
      h3 Group Deals
  
  - if (locals.share || (locals.owl && locals.area != 'index'))
    include share
  
  - if(req.url!='/owls/top' && req.url!='/owls/')
    - var i = 0, max = 1;
    each ad in adUpperBox 
      - i++
      include adverts/box
      - if (i == max)
        break

    each ad in adLowerBox 
      - i++
      include adverts/box
      if (i == max)
        break
  
  - if(locals.enquire)
    .enquiry
       h2 Enquire About This Deal
       form#input-form
          label(for='propertyName') Name
          input#propertyName(type='text',disabled,value=objUser.firstName+' '+objUser.lastName)
          label(for='propertyEmail') Email:
          input#propertyEmail(type='text',disabled,value=objUser.email)
          label(for='propertyPhone') Phone
          input#propertyPhone(type='text')
          label(for='propertyContactMethod') Contact Method
          select#propertyContactMethod
           option Phone
           option Email
          label(for='propertyComments') Comments
          textarea#propertyComments(rows='5')
          input.button(type='submit', value='Submit')
  - if (!locals.owl || (locals.area && locals.area == 'index'))
    include search