ul.sf-menu
  
  li: a(href='/owls/top',class='inactive') Australia's Best Deal
  
  li: a(href='/owls/hot',class='inactive') Best State Deals
  
  li: a(href='/owls/locate',class='inactive') Owl Deals
  
  li
    
    a(href='/news',class='inactive') Wise Owl
    
    ul
      li: a(href='/news') News Updates
      li: a(href='/research') Research
  
  li: a(href='/products-and-services', class='inactive') Products & Services
  
  - if (req.user)
    
    li
      
      a(href='/account', class='inactive') My Nest
      
      ul
        - if(req.user.account_type_id >= 2)
          li: a(href='/admin') Administration
        
        li: a(href='/account') My Account
        li: a(href='/bookmarks') Saved Deals
        li: a(href='/refer-a-friend') Refer A Friend
        li: a(href='/contact') Contact Us
        li: a(href='/logout') Logout
  
  - else
    
    li: a.show-login(href='/login', data-modal='users') Login