extends layout

block content
  
  .container.row.main
  
    include left_nav
    
    #center-col
      h1= page.header
      p
        !{page.content}
    
    #right-col
      img#ad-tower1.ad-tower(src='/images/ad-tower.jpg', alt='Tower Advert')
      img#ad-tower2.ad-tower(src='/images/ad-tower.jpg', alt='Tower Advert')