extends layout

block content
  
  .container.row.main
    
    include left_nav
    
    #center-col.mobile-full
      h1 Products and Services
      
      p At Property Owl we love working with the below businesses.
      //- p Search through the different categories for the product or service you are seeking. Click on the Enquire Now tab, complete the required fields, then click on Submit and you will receive information on their advertised deals.
      
      p Can't find a product or service that suits your needs? Advise us of your property needs and we will find the business or businesses who are willing to provide a great deal to Property Owl subscribers.
      
      //- h3 Property Owl &#45; Innovation in delivering Australia&#39;s Best Property Deals
      
      - if (!services.length)
        p No services have been listed on Property Owl
      
      - else
        - each service in services
          .listing-summary
            .header: h2= service.company
            
            .listing-body
              .listing-thumb: img.thumb(src='/images/services-thumb.jpg', alt='#{service.company}')
              
              .listing-details
                .summary: p= service.description
                
                .listing-links: a.enquire-button(href='#') Enquire
    
    include right_nav