#right-col
  - var i = 0
  each ad in adUpperTower
    - i++
    - if (i < 2)
      include adverts/tower
  - var i = 0
  each ad in adLowerTower
    - i++
    - if (i < 2)
      include adverts/tower