extends layout

block content
  //
    main content
  .container.row.main
    include left_nav
    //
      center-col
    #center-col.mobile-full
      h1 Search Results
      - if (search.length == 0)
         h4 No properties have been found matching your select criteria
       - else
         - var i = 0; // Just a hack for PoC
         - each owl in search
          - i++
          include owls/summary
         

    //
      end center-col
    //
      right-col
    include right_nav
    //
      end right-col
  //
    end main content
