.find-deals
  h2 Find Deals
  form#input-form(action="/search",method="get")
    
    img(src='/images/search-map-icon.png', alt='Suburb')
    label(for='propertySuburb') Suburb
    input#propertySuburb(type='text',name='suburb')
    
    img(src='/images/search-map-icon.png', alt='State / Territory')
    label(for='propertyState') State / Territory
    select#propertyState(name='state')
      option(value='any') Any
      option(value='act') ACT
      option(value='nsw') NSW
      option(value='nt') NT
      option(value='qld') QLD
      option(value='sa') SA
      option(value='tas') TAS
      option(value='vic') VIC
      option(value='wa') WA
    
    img(src='/images/search-property-icon.png', alt='Property Type')
    label(for='development_type_id') Property Type
    select.development_type_id(name='development_type_id')
      option(value='') Any
      option(value='1') House
      option(value='2') Townhouse
      option(value='3') Unit
      option(value='4') Apartment
      option(value='5') Land
      option(value='6') House and Land
      option(value='7') Villa
      option(value='8') Acreage
    
    //- img(src='/images/search-deal-icon.png', alt='Deal Type')
    //- label(for='propertyDealType') Deal Type
    //- select#propertyDealType(name="dType")
    //-   option All
    //-   option Stamp Duty
    //-   option Furniture Package
    //-   option Blinds
    //-   option Rental Guarantee
    //-   option Entertainment System
    
    img(src='/images/search-price-icon.png', alt='Minimum Price')
    label(for='propertyMinPrice') Min. Price
    select#propertyMinPrice(name="minPrice")
      option(value="any") Any
      option(value="50000") 50,000
      option(value="100000") 100,000
      option(value="150000") 150,000
      option(value="200000") 200,000
      option(value="250000") 250,000
      option(value="300000") 300,000
      option(value="350000") 350,000
      option(value="400000") 400,000
      option(value="450000") 450,000
      option(value="500000") 500,000
      option(value="550000") 550,000
      option(value="600000") 600,000
      option(value="650000") 650,000
      option(value="700000") 700,000
      option(value="750000") 750,000
      option(value="800000") 800,000
      option(value="850000") 850,000
      option(value="900000") 900,000
      option(value="950000") 950,000
      option(value="1000000") 1,000,000
      option(value="1250000") 1,250,000
      option(value="1500000") 1,500,000
      option(value="1750000") 1,750,000
      option(value="2000000") 2,000,000
      option(value="2500000") 2,500,000
      option(value="3000000") 3,000,000
      option(value="4000000") 4,000,000
      option(value="5000000") 5,000,000
      option(value="10000000") 10,000,000
    
    img(src='/images/search-price-icon.png', alt='Maximum Price')
    label(for='propertyMaxPrice') Max. Price
    select#propertyMaxPrice(name="maxPrice")
      option(value="any") Any
      option(value="50000") 50,000
      option(value="100000") 100,000
      option(value="150000") 150,000
      option(value="200000") 200,000
      option(value="250000") 250,000
      option(value="300000") 300,000
      option(value="350000") 350,000
      option(value="400000") 400,000
      option(value="450000") 450,000
      option(value="500000") 500,000
      option(value="550000") 550,000
      option(value="600000") 600,000
      option(value="650000") 650,000
      option(value="700000") 700,000
      option(value="750000") 750,000
      option(value="800000") 800,000
      option(value="850000") 850,000
      option(value="900000") 900,000
      option(value="950000") 950,000
      option(value="1000000") 1,000,000
      option(value="1250000") 1,250,000
      option(value="1500000") 1,500,000
      option(value="1750000") 1,750,000
      option(value="2000000") 2,000,000
      option(value="2500000") 2,500,000
      option(value="3000000") 3,000,000
      option(value="4000000") 4,000,000
      option(value="5000000") 5,000,000
      option(value="10000000") 10,000,000
    
    .small-left
      img.small(src='/images/search-bed-icon.png', alt='Number of Beds')
      label(for='propertyMinBeds') Min. Beds
      select#propertyMinBeds(name="minBeds")
        option(value="any") Any
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
    
    .small-right
      img.small(src='/images/search-bed-icon.png', alt='Number of Beds')
      label(for='propertyMaxBeds') Max. Beds
      select#propertyMaxBeds(name="maxBeds")
        option(value="any") Any
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
        option(value="4") 4
        option(value="5") 5
    
    .small-left
      img.small(src='/images/search-bath-icon.png', alt='Number of Bathrooms')
      label(for='propertyBathrooms') Bathrooms
      select#propertyBathrooms(name="bathrooms")
        option(value="any") Any
        option(value="1") 1+
        option(value="2") 2+
        option(value="3") 3+
        option(value="4") 4+
        option(value="5") 5+
    
    .small-right
      img.small(src='/images/search-car-icon.png', alt='Number of Car Spaces')
      label(for='propertyCarSpaces') Car Spaces
      select#propertyCarSpaces(name="cars")
        option(value="any") Any
        option(value="1") 1+
        option(value="2") 2+
        option(value="3") 3+
        option(value="4") 4+
        option(value="5") 5+
    
    img(src='/images/search-development-icon.png', alt='Development Stage')
    label(for='propertyState') Development Stage
    select#propertyState(name='development_status_id')
      option(value='') Any
      option(value='1') Completed
      option(value='2') Off The Plan
    
    input.button(type='submit', value='Submit')