- (locals.deal = locals.barn || locals.owl)
.share
  ul
    li
      a(href='#', onclick='javascript:window.print()')
        img(src='/images/share-print-icon.png', alt='Print')
        | Print Deal
    
    li.add-bookmark(data-deal-id="#{deal.id}", data-deal-type='owl')
      img(src='/images/share-save-icon.png', alt='Save')
      - if (deal.bookmark)
        | Saved
      - else
        | Save Deal
    
    li.show-refer-friend
      img(src='/images/share-refer-icon.png', alt='Refer')
      | Refer A Friend
    
    li
      .fb-like(data-href=deal.link, data-send='false', data-layout='button_count', data-width='125', data-show-faces='false')
    
    li
      a.twitter-share-button(href='https://twitter.com/share', data-url=deal.link) Tweet
      script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");