h1 Welcome to Property Owl!
p
  | Property Owl offers the best deals on new residential properties Australia wide, with new deals uploaded to the website every Wednesday at 12 midday!
p
  | The Property Owl website provides for the best possible deals on selected new properties across the Australian real estate market.  Properties listed on Property Owl must include a minimum value deal to advertise on the website.  It is important to note that these deals are not available through the Seller direct.
p So how does it work?
p
  | New deals are uploaded to the Property Owl website on a weekly basis via the 
  span.emphasis 'Owl Deals' 
  | tab.  All properties represented on the website are then assessed by the Property Owl system where the best 'value for money' deal for each state across Australia is accessed via the 
  span.emphasis 'Best State Deal' 
  | tab.   Once the best value for money deals have been selected for each state, the Property Owl system then assesses and selects the best deal nationally and is accessed via the 
  span.emphasis 'Australia's Best Property Deal' 
  | tab.
p
  | The 'value for money' deals (based on percentage value) calculated and selected by the Property Owl system are legitimate deals.  Sellers cannot secure the 'The Best State' and 'Australia's Best Property Deal' positions on the website through paid advertising.  In order to secure these positions the Sellers must put forward their best deal - Simple.
p
  | You must be quick in securing these deals in 'Best State Deal' and 'Australia's Best Property Deal' as they are for a 7 day period, unless sold sooner.  The timer on the left hand side of the web page indicates how much time remains before the deal finishes.
p
  | If you like any of the deals represented then simply click on the 
  span(style='color: #009300;')
    strong green 
  span.emphasis 'Secure the Deal' 
  | tab where you will be prompted to complete the relevant enquiry form.  Once completed it is then forwarded to the Sellers representative who will contact you in relation to the next step of the purchasing process.
p
  | If you are interested in obtaining an even better deal, then swoop on a selected property within 
  span.emphasis 'The Barn' 
  | .  In 'The Barn' Sellers list a number of similar new properties in the one location and offer further deals to groups of individuals who collectively take up the offer within the required time.
p
  | Not currently in the market to purchase a property yourself?  Refer a friend who then registers with and subsequently purchases a property through Property Owl and you will be rewarded with a $1000.00 nest egg for your referral.
p So what are you waiting for - Swoop in today!
p
  span.emphasis Property Owl – Innovation in delivering Australia's Best Property Deals.