extends layout

block content
  //
    main content
  .container.row.main
    include left_nav
    //
      center-col
    #center-col
      h1 Why The Owl?
      p
        | So what does an owl have to do with property?
        | Some interesting owl facts:
        ul
          li
            strong An owl can hear a mouse 60m away
            | , but did you know that the Property Owl can sense a great deal many, many kilometres away?
          li
            strong An owl can close and open its ears
            | and the Property Owl will always open its ears to a great deal but close them to the 'noise' out in the market place;
          li
            strong An owl can swing its head around and look behind its back.
            | The property Owl will always look every which way possible to source the best deal for you and save you time and money; and
          li
            strong Owls cannot move their eyeballs
            | - we will not take our eyes off the ball or for that matter the best deals in the property market.
        p
          | Propertyowl.com.au is Australia’s first to provide residential property developers with their own unique website platform specifically designed to showcase and sell their products without being lost amongst the thousands of private sellers of homes, land, apartments, units, townhouses, etc on other property websites.   The website allows a greater reach to larger audiences of prospective buyers.
        p
          | The propertyowl.com.au website provides our subscribers with genuine deals without having to cut through the noise of advertising, marketing hype and in some instances pushy sales people.
        p
          | Propertyowl.com.au uses its best endeavours to obtain all known information that relates to specific residential developments advertised on the website.  We will do the hard work for you - sit back and relax.
        p
          span.emphasis Property Owl - innovation in delivering the best property deals.
        p Swoop in now.
    //
      end center-col
    //
      right-col
    #right-col
      img#ad-tower1.ad-tower(src='images/ad-tower.jpg', alt='Tower Advert')
      img#ad-tower2.ad-tower(src='images/ad-tower.jpg', alt='Tower Advert')

    //
      end center-col
