extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col
      
      h1 My Account
        
      .grid-header.form-header.pane-nav
        
        include menu
    
      .tabs.account
        
        .tabs-content
          
          .padding
            
            - if (bookmarks && bookmarks.length)
            
              table.admin-gridview
                
                thead
                  
                  tr
                    
                    td Deal
                    td Deal Type
                    td Date Listed
                    td Actions
                
                tbody
                  
                  - each bookmark in bookmarks
                  
                    tr.bookmark(data-bookmark-id=bookmark.id)
                      
                      td(style="width:50%"): a(href=bookmark.entity.url)= bookmark.entity.title
                      
                      td: strong= bookmark.entity.constructor.name
                      
                      td= moment(bookmark.created_at).format('LL')
                      
                      td
                        a.delete(href='#')
                          img(src='images/delete.png')
                          | Remove
            - else
              h4 No deals have been bookmarked yet
    
    include ../right_nav