extends ../layout

block content
  
  .container.row.main
  
    include ../left_nav
    
    #center-col.mobile-full
      
      h1 Login
      
      .details
        
        form.details-form(action="/login",method="post")
          
          include ../flashify
          
          .left.mobile-full
            
            .inputs
              label(for='email') Email
              input#email(type="text",name="email", placeholder="", value="")
            
            .inputs
              label(for='password') Password
              input#password(type="password",name="password", placeholder="", value="")
         
          .inputs(style='clear: both; padding: 2em;')
            
            label(for='remember', style='display: inline;')
              input#remember(type='checkbox', name='remember')
              | Remember me?
          
          .inputs
          
          .submit
           
            a.left-button(href="/sign-up") Sign Up
            
            input.button(type="submit",value="login")
    
    - if (typeof(modal) != 'undefined' && modal == true)
      script
        $(document).ready(function(){
          $(".login-overlay").show();
        });
    
    include ../right_nav