extends ../layout
block content
  //
    main content
  .container.row.main
    include ../left_nav
      //
       center-col
     #center-col
       h1 Login
       .details
         form.details-form(action="/login",method="post")
          .inputs
            include ../flashify
          .left
            .inputs
              label(for='email') Email
              input#email(type="text",name="email",placeholder="Email",value="bscarvell@gmail.com")
            .inputs
              label(for='password') Password
              input#password(type="password",name="password",placeholder="Password",value="password")
          .inputs
          .submit
            input.button(type="submit",value="login")
    //
      end center-col
    //
      right-col
    #right-col
      img#ad-tower1.ad-tower(src='images/ad-tower.jpg', alt='Tower Advert')
      img#ad-tower2.ad-tower(src='images/ad-tower.jpg', alt='Tower Advert')
    //
      end right-col