ol.tabs
  li(class=(req.url == '/account') ? "active" : ""): a(href="/account") Settings
  li(class=(req.url == '/bookmarks') ? "active" : ""): a(href="/bookmarks") Saved Deals
  li(class=(req.url == '/registrations') ? "active" : ""): a(href="/registrations") Registrations
  li(class=(req.url == '/preferences') ? "active" : ""): a(href="/preferences") Preferences
  li(class=(req.url == '/referals') ? "active" : ""): a(href="/referals") Referrals  