extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col
      h1 My Account
      
      .tabs.account
        
        include menu
        
        .tabs-content
          
          .padding
            
            table.admin-gridview
              thead
                tr
                  td Title
                  td Deal Type
                  //- td Deal Status
                  td Date Listed
                  td Actions
              
              tbody
                h4 You haven't registered to any property.
    
    include ../right_nav