extends ../layout

block content
  legend
    h3 My Account
  include ../flashify
  form.form-horizontal(action="/account",method="post")
    div.control-group  
      label.control-label(for="inputEmail") Email:
      div.controls
        input#email(type="text",placeholder="Email",name="email",value="#{objUser.email}")

    div.control-group
      label.control-label(for="password") Password:
      div.controls
        input#password(type="password",placeholder="Password",name="password")
        | &nbsp;
        input#confirmPassword(type="password",placeholder="Confirm Password",name="confirmPassword")
        span.help-block Password will not be changed if left blank

    div.control-group  
      label.control-label(for="inputEmail") First Name:
      div.controls
        input#email(type="text",name="fname",placeholder="First Name",value="#{objUser.firstName}")

    div.control-group  
      label.control-label(for="inputEmail") Last Name:
      div.controls
        input#email(type="text",name="lname",placeholder="Last Name",value="#{objUser.lastName}")

    div.form-actions
      input.btn.btn-primary(type="submit",value="Update")