.admin-actions
  ul
    li
      a(href='/admin/barns/add')
       img(src='/images/add.png')
       | &nbsp;
       | Add Barn
    
    li
      a(href='/admin/barns')
        img(src='/images/manage.png')
        | &nbsp;
        | Manage Barns