.admin-actions
  
  ul
    
    if(action != 'add')
      li
        a(href='/admin/barns/add')
         img(src='/images/add.png')
         | &nbsp;
         | Add Barn Deal
    
    if(action != 'index')
      li
        a(href='/admin/barns')
          img(src='/images/manage.png')
          | &nbsp;
          | Manage Barn Deals