extends ../../layout

block content
  .container.row.main
    
    include ../menu
    
    h1 Add Barn Deal
    
    include actions
    
    .grid-header.form-header
      ol.six
        li.active
          .ol-1-active
          | Details
    
    .details
      h2 Barn Details
      
      hr
      
      form.details-form.fake(action='/admin/barns', method='post', enctype='multipart/form-data', data-id=barn.id)
        
        include ../../flashify
        
        include inputs
        
        .submit
          input.button(type='submit', value='Create Barn').addBarn
          a.left-button(href='/admin/barns') Cancel
    script
      $(document).ready(function(){
          $('.addBarn').click(function(e){
            e.preventDefault();
            if ($('.owl tr').length < 3  || $('.owl tr').length > 5)
            {
              alert('Barn deals must only have between 3 and 5 barns');
            }
          else
            {
              $('.details-form').submit();
            }
          });
      });