extends ../../layout

block content
  .container.row.main
    
    include ../menu
    
    h1 Add Barn Deal
    
    include actions
    
    .grid-header.form-header.pane-nav
    
    .details
      
      form.details-form.deal.fake(action='/barns', method='post', enctype='multipart/form-data', data-id=barn.id)
        
        include ../../flashify
        
        include inputs
        
        .submit
          input.button(type='submit', value='Create Barn').addBarn
          a.left-button(href='/barns') Cancel