extends ../../layout

block content
  .container.row.main
    
    include ../menu
    
    h1 Edit Barn Deal
    
    include actions
    
    .grid-header.form-header.pane-nav
    
    .details
      h2 Barn Details
      
      hr
      
      form.details-form(action="/admin/barns/#{barn.id}", method='post', enctype='multipart/form-data', data-id=barn.id)
        
        input(type='hidden', name='_method', value='put')
        
        include ../../flashify
        
        include inputs

        .submit
          input.button(type='submit', value='Edit Barn').addBarn
          a.left-button(href="/admin/barns") Cancel
  script
    $(document).ready(function(){
        $('.addBarn').click(function(e){
          e.preventDefault();
          $("#generic-modal, #generic-modal .modal.main").removeClass('success');
          $('#generic-modal-title').html('Processing...');
          $('#generic-modal-content').html('Processing your request. Please be patient..');        
          $('#generic-modal').show(150);
          $('.details-form').submit();
        });
    });
