extends ../../layout

block content
  .container.row.main
    include ../menu
    
    h1 Edit Barn Deal
    
    include actions
    
    .grid-header.form-header
      ol.six
        li.active
          .ol-1-active
          | Details
    
    .details
      h2 Barn Details
      
      hr
      
      form.details-form(action='/admin/barns', method='post')
        
        input(type='hidden', name='_method', value='put')
        
        include ../../flashify
        
        include inputs

        .submit
          input.button(type='submit', value='Create Barn')
          a.left-button(href="/admin/barns") Cancel
