.inputs
  label(for='indoor_features') Indoor Features
  textarea(name='indoor_features')= barn.indoor_features

.inputs
  label(for='outdoor_features') Outdoor Features
  textarea(name='outdoor_features')= barn.outdoor_features

.inputs
  label(for='other_features') Other Features
  textarea(name='other_features')= barn.other_features