.inputs
  label(for='indoor_features') Indoor Features
  textarea(name='indoor_features',maxlength='255')= barn.indoor_features

.inputs
  label(for='outdoor_features') Outdoor Features
  textarea(name='outdoor_features',maxlength='255')= barn.outdoor_features

.inputs
  label(for='other_features') Other Features
  textarea(name='other_features',maxlength='255')= barn.other_features