h2 Files

hr

.inputs
  label Browse
  input#files(type='file', name='files', multiple='multiple')
  span.note Max file size 4MB.

.inputs
  
  table.admin-gridview.files
    
    thead
      tr
        td.thumb Thumb
        td File Name
        td Actions
    
    tbody.body
      
      if barn.files && barn.files.length
        
        each file in barn.files
        
          include file_input