h2 Images
hr
.inputs
  label Browse
  input#image(type='file', name='images', multiple='multiple')
  span.note Max file size 4MB. Images will be resized to 800 x 600 pixels (w x h).

.inputs
  table.admin-gridview.images
    thead
      tr
        td Thumb
        td Hero Image
        td Actions
    
    tbody.body
      - if (barn.images && barn.images.length)
        - each image in barn.images
          include image_input