extends ../../layout

block content
  
  .container.row.main
    include ../menu
    
    h1 Barn Deals
    
    include ../../flashify
    
    include actions
    
    - if (!locals.barns || !barns.length)
      
      p No barn deals have been created yet.
    
    - else
      
      .grid-header
      
      table.admin-gridview.deal-grid
        thead
          tr
            td ID
            td Listed On
            td Developer
            td Address
            td Status
            td Owls
            td Registrations
            td(colspan='2') Actions
        
        tbody
         - each barn in barns
           
           include summary
        
        tfoot
          tr
            td(colspan='9')
              | &nbsp;