.panes(style='display: none;')
  
  .inputs.index.pane(data-key='index')
    label(for='title') Approved
      input.big_checkbox(name='approved', type='checkbox', checked=barn.approved)
  
  .inputs.detail.pane(data-key='detail')
    include detail_inputs
  
  .inputs.feature.pane(data-key='feature')
    include feature_inputs
  
  .inputs.address.pane(data-key='address')
    include address_inputs
  
  .inputs.image.pane(data-key='image', data-label='images')
    include image_inputs
  
  .inputs.file.pane(data-key='file', data-label='files')
    include file_inputs
  
  .inputs.deal.pane(data-key='deal')
    include deal_inputs
  
  .inputs.owl.pane(data-key='owl')
    include owl_inputs