.inputs
  label(for='title') Approved
    input.big_checkbox(name='approved', type='checkbox', checked=barn.approved)

include feature_inputs

include address_inputs

include image_inputs

include deal_inputs

include owl_inputs