h2 Property Lots
hr

.inputs.owl-matrix.nested
  .label Added

  - var owls = barn.owls || {}
  
  table.admin-gridview
    thead
      tr
        td ID
        td Listed On
        td Title
        td Address
        td State
        td Deal Value
        td(colspan='3') Actions
    tbody.owl
     - each owl in owls
       include owl_summary

.inputs

.inputs.owl-matrix.search(data-barn-id=barn.id)
  label Search
  
  //- - var owls = barn.owls
  
  table.admin-gridview
    thead
      tr
        td ID
        td Listed On
        td Title
        td Address
        td State
        td Deal Value
        td(colspan='3') Actions
    tbody