extends ../layout

block content
  //
    main content
  .container.row.main
    include ../left_nav
    //
      center-col
    #center-col
      h1 Page 404
      p This page doesn't seem to exist :(