extends ../layout

block content
  //
    main content
  .container.row.main
    include ../left_nav
    //
      center-col
    #center-col 
      h1 Deal not found
      p Sorry that deal doesn't exist