extends ../layout

block content
  //
    main content
  .container.row.main
    include ../left_nav
    //
      center-col
    #wide-center-col
      a#back-button(href='#') Back
      h1 Barn Deals - Project Heading
      //
        image slider
      .slider-box
        #slider.flexslider
          ul.slides
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            //
               items mirrored twice, total of 12 
        #carousel.flexslider
          ul.slides
            li
              img(src='/images/slide1-thumb.jpg')
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            li
              img(src='/images/slider1.jpg')
            //
               items mirrored twice, total of 12 
      .property-info
        table.barn-lots
          thead
            td Lot
            td Bed
            td Bath
            td Car
            td Level
            td Int. Size
            td Ext. Size
            td Aspect
            td List Price
            td Floor Plan
            td Owl Deal
            td Register
          tbody
            td
              a(href='#', alt='View Property Details') 1
            td 2
            td 2
            td 1
            td 5
            td 50 sq.m
            td 100 sq.m
            td North
            td $500,000
            td
              a(href='#') Download
            td Yes
            td
              a.barn-register(href='#', alt='Register') Register
          tbody
            td
              a(href='#', alt='View Property Details') 2
            td 2
            td 2
            td 1
            td 5
            td 50 sq.m
            td 100 sq.m
            td North
            td $500,000
            td
              a(href='#') Download
            td Yes
            td
              a.barn-register(href='#', alt='Register') Register
          tbody
            td
              a(href='#', alt='View Property Details') 3
            td 2
            td 2
            td 1
            td 5
            td 50 sq.m
            td 100 sq.m
            td North
            td $500,000
            td
              a(href='#') Download
            td Yes
            td
              a.barn-register(href='#', alt='Register') Register
          tbody
            td
              a(href='#', alt='View Property Details') 4
            td 2
            td 2
            td 1
            td 5
            td 50 sq.m
            td 100 sq.m
            td North
            td $500,000
            td
              a(href='#') Download
            td Yes
            td
              a.barn-register(href='#', alt='Register') Register
        #left
          p 12 Property Rd, Teneriffe, QLD 4000
          h2 Project Details
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          .general-features
            h3 General Features
            ul
              li Property Type: Apartment
            h3 More Info
            .file-row
              .file
                img(src='/images/file-icon.gif', alt='Community Management Statement')
                p
                  | Community Management Statement
                  span (1.6mb)
              .file
                img(src='/images/file-icon.gif', alt='Depreciation Schedule')
                p
                  | Depreciation Schedule
                  span (1.6mb)
            .file-row
              .file
                img(src='/images/file-icon.gif', alt='Rental Appraisal')
                p
                  | Rental Appraisal
                  span (1.6mb)
              .file
                img(src='/images/file-icon.gif', alt='Floor Plans')
                p
                  | Floor Plans
                  span (1.6mb)
          .other-features
            h3 Indoor Features
            ul
              li Air Conditioning
            h3 Outdoor Features
            ul
              li Swimming Pool: In-ground
            h3 Other Features
            p Close to shops, close to transport, secure parking, terrace/balcony.
        #right
          .deal
            h2
              | Reveal the Deal
              img.arrow(src='/images/blue-arrow-icon.png', alt='Reveal the Deal')
            ul
              li Stamp Duty
              li Furniture Package
              li 1 Year Rental Guarantee
          .time-left
            p
              | Time left
              span.time 04:02:35
          iframe#google-map(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=76+Orchard+Terrace,+St+Lucia,+QLD&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913&output=embed')
          br
          a(href='http://maps.google.com/maps?f=q&source=embed&hl=en&geocode=&q=76+Orchard+Terrace,+St+Lucia,+QLD&sll=37.0625,-95.677068&sspn=51.177128,65.390625&ie=UTF8&hq=&hnear=76+Orchard+Terrace,+St+Lucia+Queensland+4067,+Australia&t=m&z=14&ll=-27.499779,152.994913') View Larger Map
    //
      end center-col
