extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col
      
      h1 Owl Deals
      
      if locals.owls && owls.length
        
        each owl in owls
          
          include summary
      
      else
        p There are no current property deals right now but keep an eye out because we are always listing new deals.
    
    include ../right_nav