extends ../layout

style(type='text/css')
  dl.image_map {display:block; width:401px; height:341px; background:url(../images/map-large.png); position:relative; margin:2px auto 2px auto;}

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col
      
      div!= cms_top
      
      #big-map
      
      br
      
      div!= cms_bottom
    
    include ../right_nav