extends ../../layout

block content
  
  //
    main content
  .container.row.main
    include ../../admin-menu
    h1 Edit Category - #{category.category}
    .admin-actions
      ul
        li
          a(href='/admin/services/categories')
            img(src='/images/manage.png')
            | &nbsp;
            | Manage Categories
    .details
      h2 Category Details
      form#search-form.details-form(action="/admin/services/categories/edit/#{category.category_id}",method="post")
        input(type="hidden",name="_method",value="put")
        .inputs
          label(for="categoryName") Category Name
          input(type="text",name="category",value="#{category.category}")
        .submit
          input.button(type="submit",value="Save")