/* ELEMENT STYLES  */
HTML,BODY { height:100%;}
a img { border:0; }
body, td { 
  font-family: arial,verdana,bitstream vera sans,sans-serif;
  font-size:13px;
  color:#464547;
}
*:focus {outline: none;}
body { 
  margin:0px; 
  background:#5abbec url(../images/pictures/large/system-files/background.gif) repeat-x 0px -1500px; 
}
body.emailBody { 
  margin: 20px;
  background: none;
  background-color: white;
  text-align: left;
}

PRE { text-align: left; font-size: 11px; margin:20px; padding:20px; }
A, A:visited { color: #F67C38} 
A:hover {}
HR { height:0px; border-width: 0px; border-top: dashed 1px silver;}
INPUT.fld, #captcha_code_ { border:solid 1px silver; padding: 4px; font-size: 11px; color: #848484 }
FORM { margin:0px; }

.floatleft { float:left; }
.floatright { float:right; }
.clearboth { clear:both; }

/** DEFAULT STYLES */
div#emailthispageContainer { padding: 20px; }

/** SITEMAP */
.sitemapDiv { margin-bottom: 3px; }
.sitemapHdrDiv { margin-top: 12px; margin-bottom: 2px; }
table.sitemapTbl { width: 500px; }
td.sitemapMidCell { border-left: 1px solid #f0f0f0; }

/* WYSIWYG HEADING STYLES */
H1 { font-size:15px; margin-top:0px; margin-bottom:10px; color:#00a5d6; }
H2 { font-size:13px; margin-top:0px; margin-bottom:5px; color:#00a5d6; }
.heading { text-align:left; font-size: 1.5em; color:#414141; font-weight:normal; border-bottom:dashed 1px silver; padding-bottom:4px; margin-top:5px; display:block; }
.redheading { font-size: 18px; color: #5D011D; }
.subheading { font-size: 14px; }
.small { font-size: 10px; }
.tiny { font-size: 9px; }
.white { color: white; }
.grey { color: #a0a0a0; }
.red { color: #cc0001; }
.darkred { color: #5D011D; }
.star { font-size: 13px; color: #c01010; }

/* GENERIC THINGS */
IMG.error { margin-left: 6px; margin-top: 3px; }


/** CONTACT FORM STYLES */
FORM#contact-form INPUT {border: solid 1px #B4B4B4; color: #7A7A7A; font-size:11px; padding: 4px;}
FORM#contact-form INPUT.fld {  width:255px; border: solid 1px #B4B4B4; color: #7A7A7A; font-size:11px; padding: 4px; }
FORM#contact-form TEXTAREA.fld {width:255px; border: solid 1px #B4B4B4; color: #7A7A7A; font-size:11px; padding: 4px; font-family:arial; }

    /*ENQUIRY FORM STYLES*/
    
    #ENQUIRY-FORM td{ font-size:12px; position:relative; }
      #ENQUIRY-FORM INPUT.fld { border:1px solid #09c; width:200px;}
      #captcha_code_ { border:1px solid #09c; }
      #ENQUIRY-FORM .form-captcha-table{width:400px; margin:auto; margin-top:20px;}
      .rdoGrp { position:relative; width:232px;  }
      .rdoGrp .error-icon { position:absolute; right:0px; top:0px; }

/** ARTICLES */
#articles_wrapper {width:100%;}
#articles_left {float:left;width:25%;}
#articles_right {}
#article_categories a, #article_categories a:visited {display:block;color:#555555;text-decoration:none;margin:10px 0px;}
#article_categories a:hover {color:#1C63C5;}
#articles_categories_title { text-transform:uppercase;font-size:13px;font-weight:bold;}
#articles_categories_title a,#articles_categories_title a:visited {display:inline;text-decoration:none;}
#articles_categories_title a:hover {}
.articles_heading {text-align:left; font-size: 1.5em; color:#414141; font-weight:normal; border-bottom:dashed 1px silver; padding-bottom:4px; margin-top:5px; display:block;}
.articles_subheading {font-size:16px;font-weight:bold;}
.articles_list_title {font-size:13px;font-weight:bold;}
#articles_trail { margin-top: 12px}
#articles_print {float: right; }
div.articleActiveTab { padding-right: 4px; }
div.articleActiveTab a { font-weight: bold; display: block; background-color: #878787; padding: 1px 8px; color: #FFFFFF; text-decoration: none; }
div.articleInactiveTab { padding-right: 4px;}
div.articleInactiveTab a {   display: block; background-color: #F3F3F3; padding: 1px 8px; color: #000000;  text-decoration: none;}
div#articles_wrapper blockquote { margin-left: 12px; }

/** Wysiwyg Pro only */
#wysiwygpro_editor body { background-color: #ffffff; margin: 10px; }

/** disable silly image outliens */
a { -moz-outline: none; outline: none; }

/** jquery ui progress bar */



/** Home page fancybox temlate */
#home-fb-title { text-align: left; }
#home-fb-title b { display: block; margin-bottom: 4px;}
#home-fb-title span { float: right; }

/** The popup for register and login */
#popup-overlay { position: fixed; top:0; left:0; height: 100%; width:100%; z-index: 9998; display: none; background: rgba(0,0,0,.5) }
#popup { color: #fff; width: 400px; height: 414px; background: url(../images/pictures/large/system-files/register.png); }
    #register-popup { position: relative; }
  #register-popup #login-fields { display: none; }
    #register-popup input { width: 166px; border:none; background:none; color: #fff; height:18px }
    #register-popup .submit { position: absolute; top: 292px; left: 42px }
  #register-popup .submit input { height:auto }
    #register-popup input.button { width: 301px; }
        #register-popup .name { position: absolute; top: 219px; left: 28px;}
        #register-popup .password { position: absolute; top: 219px; left: 206px;}
        #register-popup .postcode { position: absolute; top: 246px; left: 28px;}
        #register-popup .email { position: absolute; top: 246px; left: 206px;}
    #register-popup .terms { position: absolute; top: 272px; *top: 270px; left: 0; width:100% }
    #register-popup .terms input { width:auto; margin:-1px 0 0 3px; vertical-align:middle; *margin-top:0 }
    #register-popup .terms a { color:#FFF; font-weight:bold; text-decoration:underline }
    #register-popup .terms a:hover { text-decoration:none }
        #register-popup .member { text-align:center; width: 338px;  position: absolute; top: 336px; left: 45px; font-size:11px }
        #register-popup .member a { color: #fff; font-weight: bold; text-decoration: underline; }
        #register-popup .member a:hover { text-decoration: none }
    #login-fields .email { left:28px; top: 233px; }
    #login-fields .password { top: 233px; }
 
  #terms-popup { width:680px; height:500px; }
  #terms-popup-content { width:640px;  }
 
/** Template Styles */
#site { min-height:100%; position:relative; }
  #header_wrapper { height:144px; width:100%; background: url(../images/pictures/large/system-files/bg_account_nav.png) repeat-x; }
    #header { margin:0px auto; width:980px; color:white; height:144px; }
      #header_left { float:left; margin-top:3px; }
        #header_left img { vertical-align: middle}
        #fb-wrapper { float:right; margin-top: 5px; margin-left: 10px; } 
        
      #header_right { float:right; width:450px; height:36px; line-height:36px; padding-left:10px; border-left:1px solid white; text-align: right; }
        #header_right a { color: #fff; }
        a.my-account { -moz-outline: none; outline:none;  font-weight: bold; color:#fff; text-decoration: none; display: inline-block; height: 36px;  }
        
        #flyout-menu { display:none; background: #00A7E9; padding: 0px; float:right; line-height: 20px; position: relative; z-index: 10000; border: solid 2px white; margin-right:-2px; -moz-box-shadow: 0px 0px 10px grey; -webkit-box-shadow: 0px 0px 10px grey; box-shadow: 0px 0px 10px grey; -webkit-border-bottom-right-radius: 12px; -webkit-border-bottom-left-radius: 12px; -moz-border-radius-bottomright: 12px; -moz-border-radius-bottomleft: 12px; border-bottom-right-radius: 12px; border-bottom-left-radius: 12px; }
          #flyout-menu a { display: block; width: 160px; color: #fff; text-align: center; padding: 4px 5px; text-decoration: none; margin: 7px 0; font-size: 15px;}
          #flyout-menu a:hover { background: #0a6491; }
          #flyout-menu div.hr { border-top: solid 2px white; padding:0px; margin:0px;  }
          .flyout-wrapper { border:solid 1px red; height: 30px; width:100px;}
          
          
      
  #main_wrapper { padding:0px; padding-bottom:183px;  } /* Height of the footer */
    #main { margin:0px auto; width:980px; }

      #main_left { float:left; width:275px; margin-top:4px; border-bottom:3px solid #0096e1; }
        #left_time_bg { position:relative; width:275px; /*height:313px;*/ background: url(../images/pictures/large/system-files/bg_left_time.png) no-repeat bottom; }
          #left_time_clock { position:absolute; top:-30px; left:-34px; width:68px; height:66px; background: url(../images/pictures/large/system-files/left_time_clock.png) no-repeat;}
          #left_time_counter { /*height:108px;*/  color:white;}
            #left_time_counter_title { text-align:center; font-size:23px; line-height: 45px;}
            #left_time_counter_timer { height: 58px; background:url('../images/pictures/large/system-files/bg_countdown.jpg') no-repeat; position:relative; }
              /* Countdown styles */
              .dash { float:left; text-align:center; }
              .dash .digit {float: left; width: 15px; text-align: center; position: relative; font-size:21px; }
              .box { top: 26px;  position: absolute; padding:5px; margin-right:15px; float:left; }
              .days { left: 12px; }
              .hours { left: 105px; }
              .minutes { left: 213px; }

          #left_time_map { height:202px; position:relative;  }
            .australia { position: relative;}
            .map { position: relative; }
            .map .back { position: absolute; bottom: 15px; left: 10px;  }
            
        #left_follow { height:81px; background: url(../images/pictures/large/system-files/bg_left_follow.png) no-repeat; position: relative; }
          #left_follow .fb { position: absolute; left: 9px; top: 50px; }
          #left_follow .reccomend { position: absolute; left:93px; top: 50px;  }
          #left_follow .twitter { position: absolute; top:43px; left: 210px; }
          
        #left_enquiries { height:71px; background: url(../images/pictures/large/system-files/left_enquiries.png) no-repeat; position:relative; }
          #enquiry-bar { width: 200px; position: absolute; top: 27px; height: 15px; left:  37px; } 
          #enquiry-count { text-align:center; padding-top:48px; font-size: 11px;  }
        #left_image { height:260px;}
        
        
        
      #main_right { position:relative;float:right; width:702px; }
        #logo_placement { position:absolute; top:-73px;right:-14px; z-index: 5}
        
        #main_right_header { height:27px; }
          #main_right_header_new { float:left; width:132px; height:27px; }
          #main_right_header_text_wrapper { float:right; width:568px; height:27px; background: url(../images/pictures/large/system-files/bg_red_curve.png) repeat-x; }
            #main_right_header_text { margin-left:10px; padding-top:5px; color:white; }

        #main_right_bg { background:white; min-height:702px; border-bottom:3px solid #0096e1; }
          #main_right_pick { float:left; width:132px; height:29px; }
          #main_right_nav { float:right; width:568px; height:29px; background: url(../images/pictures/large/system-files/bg_topnav.png) repeat-x; }
          
          #main_right_home { height:410px; background:#A0A2A4; clear:both;}
            #main_right_home_left { float:left; margin-left:8px; position:relative; overflow:hidden;}
              .main_buttons { position: absolute; bottom:-3px; }
              .main_buttons a img:hover { margin-bottom: 3px; }
              .main_buttons img { margin-right:3px; }
              .main_buttons img.last { margin-right: 0px; }
              
            #main_right_home_right { float:right; margin-top:-29px;}
          
          #main_right_content { padding:15px 20px; position:relative;}
            .default-template-content { padding-top: 45px !important; }
      
      
      #main_clear { clear:both; }
      
      
      
  #footer_wrapper { position:absolute; bottom:0px; height:133px; width:100%; background: url(../images/pictures/large/system-files/bg_footer.png) repeat-x; } /* Height of the footer */
    #footer { margin:0px auto; width:980px; height:133px; }
      #footer_iphone { float:left;width:190px; height:133px; }
        #footer_iphone img { float:right; margin-top:18px; margin-right:9px; }
      #footer_company { float:left;width:194px; height:133px; border-left:2px solid white; }
      #footer_how { float:left;width:194px; height:133px; border-left:2px solid white; }
      #footer_follow { float:left;width:194px; height:133px; border-left:2px solid white; }
      #footer_partnering { float:left;width:194px; height:133px; border-left:2px solid white; }
      
      .footer_links { padding:20px 14px 0px 20px; line-height:20px; }
        .footer_links h2 { color:white; font-size:12px; }
        .footer_links ul { list-style-type:none; padding:0px; }
        .footer_links ul li a, .footer_links ul li a:visited { color:white; text-decoration:none;}
        .footer_links ul li a:hover { color:white; text-decoration:underline;}
 
      
        
/* owl deal page styles */
.owl-menu-wrapper { margin-left: 134px; }
.owl-menu-wrapper img { float:left; }

  
.feature .prop-top { background: url(../images/pictures/large/assets/red-top-bg.png); }
.prop-top { background: url(../images/pictures/large/assets/blue-top-bg.png); }
.prop-top img { float: left; }
.prop-title { line-height: 39px; color: #fff; font-weight: bold; margin-left: 13px; float:left; }
.prop-ronded-top { float:right;}
  .prop-description { padding: 10px; }
  
  .feature .prop-bottom {background: url(../images/pictures/large/assets/red-bottom-bg.gif) repeat-x;}
  .prop-bottom { background: url(../images/pictures/large/assets/blue-bottom-bg.png) repeat-x; border-left: solid 1px white; }
    .prop-fb { padding-top: 10px; padding-left:10px; height:30px; width: 110px; float:left; border-right: solid 1px white; margin-right: 4px; }
    .prop-details { width: 142px; line-height: 40px; font-size: 11px; font-weight:bold; float:left; background: url(../images/pictures/large/assets/rooms-bg.png) no-repeat 50%; color: #fff; }
    
      .prob-rooms { padding-left: 5px; }
      .prob-baths { padding-left: 40px; }
      .prob-garage { padding-left: 40px; }
    .prop-enquire { float:right; }



/*placeholder*/
#placeholder { width:740px; margin:0px auto; position:relative;}
  #placeholder_header { width:740px; height:59px; margin-top:130px; background: url(../images/pictures/large/placeholder/placeholder_header.png) no-repeat;}
    #placeholder_logo { position:absolute; top:-100px;}
    #placeholder_newdeals { position:absolute; top:-50px; right:50px;}
  
  #placeholder_top { width:740px; padding-bottom:10px; background: url(../images/pictures/large/placeholder/placeholder_bg.png) repeat-y;}
    #placeholder_top .placeholder_content { width:440px; margin:0px auto; color:#0096ff; }
    #placeholder_top .placeholder_content h1 { margin:0px; padding-bottom:10px; color:#ff0000; font-size:22px; }
  
  #placeholder_bot {width:740px; height:490px; padding-top:30px; background: url(../images/pictures/large/placeholder/placeholder_bot.png) no-repeat;}
    #placeholder_bot .placeholder_content { width:440px; margin:0px auto; color:#FFF; }
    #placeholder_bot .placeholder_content h1 { margin:0px; padding-bottom:10px; color:#FFF; }
    
  
#placeholder_form { margin-top:20px; }
  .placeholder_form_row { height:21px; margin-bottom:10px; }
    #placeholder_interest { float:left; }
      #placeholder_interest select{ width:290px; height:22px; }

    #placeholder_postcode { float:right;  }
      #placeholder_postcode input { width:130px; }
      
    #placeholder_name { float:left;  }
      #placeholder_name input { width:205px; }
    #placeholder_email { float:right;  }
      #placeholder_email input { width:205px; }
      
  #placeholder_submit { float:left; }
  #placeholder_social { float:right;  }







  
    
    
/* MOBILE SITE */
#mobile-site { min-height:960px; position:relative; margin:0px auto; width:640px; color:white; font-size:27px; line-height:30px; background-image: url(../images/pictures/large/mobile/bg.gif); background-repeat:repeat-y; }   
  #mobile-site a, #mobile-site a:visited, #mobile-site a:hover { color:#FFF; }  

#mobile-site h1 { font-size:40px; line-height:45px; font-weight:bold; color:white; text-align:center;}  
#mobile-site h2 { font-size:30px; line-height:35px; font-weight:bold; color:white; text-align:center; } 
  
  /* HOME PAGE */
  #mobile-site_home { height:960px; margin:0px auto; text-align:center;}
  
    #mobile-logo_fade { padding-top:250px; }
    
    
    #mobile-register { display: none; text-align:center; height:960px; }
      #mobile-header {padding-top:30px;}
      #mobile-heading {margin-top:50px;}
      
      #mobile-registerform_bg { position:relative; margin-top:50px; width:640px; height:343px; background-image: url(../images/pictures/large/mobile/bg_registerform.png); background-repeat:no-repeat; text-align:left; }
        #mobile-registerform_name { position:absolute; top:45px; left:60px;width:520px; height:50px; }
          #mobile-registerform_name input { width: 520px; border:0px none; background:transparent; color:white; font-size:36px; padding:0px; font-family:arial;-webkit-appearance: none;}
        #mobile-registerform_postcode { position:absolute; top:150px; left:60px;width:520px; height:50px; }
          #mobile-registerform_postcode input { width: 520px; border:0px none; background:transparent; color:white; font-size:36px; padding:0px; font-family:arial;-webkit-appearance: none;}
        #mobile-registerform_email { position:absolute; top:255px; left:60px;width:520px; height:50px; }
          #mobile-registerform_email input { width: 520px; border:0px none; background:transparent; color:white; font-size:36px; padding:0px; font-family:arial;-webkit-appearance: none;}
        #mobile-registerform_agree { position:absolute; top:360px; left:60px;width:520px; height:50px; }
          #mobile-registerform_checkbox { float:left; cursor:pointer; }
          #mobile-registerform_checkbox_text { float:left; margin-left:20px; padding-top:5px; }
      #mobile-registerform_submit { margin-top:100px; } 
    
  /* LISTING PAGE */
  #mobile-listings { position:relative; margin:0px auto; top:0px; left:0px; width:640px; min-height:960px; padding-bottom:135px; background-color:#0089d5; }
    #mobile-listings_header { position:relative; width:640px; height:93px; background-image: url(../images/pictures/large/mobile/bg_listing_header.png); background-repeat:no-repeat; border-bottom:4px solid white; }
      #mobile-listings_header_top_deal  { position:absolute; left:20px; bottom:0px;  }
    
    #mobile-listings_scroll { /* height:733px; overflow:auto; */ }
    
      .mobile-property_listing { height:212px; background-color:#FFFFFF; }
        .mobile-property_listing_left { float:left; width:258px; height:153px; overflow:hidden;}
        .mobile-property_listing_left img { width:258px; }
        .mobile-property_listing_right { float:right;  width:380px; height:153px; background-color:#0089d5; color:#FFF;}
          .mobile-property_listing_right_title { padding-left:6px; padding-top:8px; height:24px; font-size:18px; line-height:18px; background-image: url(../images/pictures/large/mobile/bg_listing_property_title.png); background-repeat:repeat-x; }
          
          .featured {background-color:#d2232a;}
          
          .mobile-property_listing_right_summary { padding:6px; font-size:13px; line-height:14px;  }

        .mobile-property_listing_buttons { clear:left; height:53px; padding-top:3px;  }
          .mobile-property_listing_buttons_left { float:left; width:233px; padding-left:25px; height:53px; color:#FFF; font-size:22px; line-height:22px; background-image:url(../images/pictures/large/mobile/bg_listing_property_buttons.png); background-repeat:repeat-x; }
            .mobile-property_listing_buttons_left span { float:left; margin-left:10px; padding-top:19px;}
            .mobile-property_listing_buttons_left img { float:left; margin-left:10px; }
          
          .mobile-property_listing_buttons_right { float:right;  width:380px; height:53px;  }
              .mobile-zoom { float:left;  }
              .mobile-compass { float:left; margin-left:2px; }
              .mobile-securethedeal { float:right; }


      
      #mobile-listings_footer { position:absolute; bottom:0px; left:0px; width:640px; height:134px;  }
        #mobile-listings_footer_states { width:515px; height:60px; margin:0px auto;  }
          #mobile-listings_footer_states img { float:left;  }
          
        #mobile-listings_footer_buttons { width:640px; height:74px; background-image: url(../images/pictures/large/mobile/bg_listing_footer.png); background-repeat:no-repeat; }
          #mobile-listings_footer_back  { float:left; margin-top:10px;  }   
          #mobile-listings_footer_about  { float:right; margin-top:10px;  }   
          #mobile-listings_footer_contact  { float:right; margin-top:10px;  }   
  
/* Default Pages */
  #mobile-header_default { }
  
  #mobile-content_default { padding:20px 20px 100px 20px; }

  #mobile-footer_default { position:absolute; bottom:0px; left:0px;}
  
  
  #mobile-contactform_bg { position:absolute; left:0px; top:188px; width:640px; height:709px; padding-top:10px; background-image: url(../images/pictures/large/mobile/bg_contactform.png); background-repeat:no-repeat;  }
        
        #mobile-contactform_name { position:absolute; top:48px; left:60px;width:520px; height:50px; }
        #mobile-contactform_postcode { position:absolute; top:144px; left:60px;width:520px; height:50px; }
        #mobile-contactform_email { position:absolute; top:241px; left:60px;width:520px; height:50px; }
        #mobile-contactform_phone { position:absolute; top:338px; left:60px;width:520px; height:50px; }
        #mobile-contactform_comment { position:absolute; top:434px; left:60px;width:520px; height:220px; }
          #mobile-contactform_bg input,#mobile-contactform_bg textarea  { width: 520px; border:0px none; background:transparent; color:white; font-size:36px; padding:0px; font-family:arial;-webkit-appearance: none;}
          #mobile-contactform_bg textarea  { height:220px;}

      #mobile-contactform_submit {position:absolute; right:35px; bottom:20px;} 