.admin-actions
  ul
    
    if(action != 'add')
      li
        a(href='/admin/posts/add')
         img(src='/images/add.png')
         | &nbsp;
         | Add News Article
    
    if(action != 'index')
      li
        a(href='/admin/posts')
          img(src='/images/manage.png')
          | &nbsp;
          | Manage News Articles