extends ../../layout

block content
  
  .container.row.main
      
      include ../menu
      
      h3 Delete News Post?
      
      p Are you sure you wish to delete: 
      
      include ../../news/summary
      
      form.form-horizontal(action="/posts/#{post.id}", method='post')
        
        input(type='hidden', name='_method', value='delete')
        
        div.control-group
          
          div.controls
            
            input.btn.btn-danger(type='submit', value='Delete')
            
            | &nbsp;
            
            a.btn(href='/posts) Cancel