extends ../../layout

block content
  legend
    h3 Create A Deal
    
  form.form-horizontal(action="/developers/deals/add",method="post")

    div.control-group  
      label.control-label(for="inputEmail") Deal Name:
      div.controls
        input#email(type="text",placeholder="",name="name",value="")

    div.control-group  
      label.control-label(for="inputEmail") Select Property:
      div.controls
        select(name="property")
          - each property in properties
            option(value=property.property_id)= property.address
          
    legend Deal Features:
    div.control-group    
      div.controls#feature_container
        section#features
          p
            input(type="text",name="feature[]",placeholder="Description",value="")
            | &nbsp; 
            input(type="text",name="price[]",placeholder="Value",value="")
        
      small
        a(href="#",id="addFeature") [+] Add Extra Feature

    div.form-actions
      input.btn.btn-primary(type="submit",value="Submit Deal")
      | &nbsp;
      a.btn(href="/developers/deals") Cancel
      
  script
    $(document).ready(function(){
      $("#addFeature").click(function(){
        $("#features").clone(true).appendTo("#feature_container")
      });
    });