extends ../../layout

block content
  legend
    h3 Developer Deals
  
  - if(deals.length == 0)
    div.alert.alert-info You haven't listed any deals yet.
    
  a.btn.btn-primary(href="/developers/deals/add") + Add Deal