.admin-actions
  ul
    if((typeof action == 'undefined') || action != 'add')
      li
        a(href='/admin/affiliates/add')
         img(src='/images/add.png')
         | &nbsp;
         | Add Affiliate
    li
      a(href='/categories/add')
        img(src='/images/add.png')
        | &nbsp;
        | Add Category
    
    if((typeof action == 'undefined') || action != 'index')
      li
        a(href='/admin/affiliates')
          img(src='/images/manage.png')
          | &nbsp;
          | Manage Affiliates