extends ../../layout

block content
  //
    main content
  .container.row.main
    include ../../admin-menu
    h1 Supplier Categories
    .admin-actions
      ul
        li
          a(href='/admin/services/categories/add')
            img(src='/images/add.png')
            | &nbsp;
            | Add New Category
    table.admin-gridview
      thead
        tr
          td Category Name
          td No. of Companies
          td(colspan='2') Actions
      tbody
        - each c in categories
          tr
            td= c.category
            td= c.cnt
            td.actions
              a(href='/admin/services/categories/edit/#{c.category_id}', alt='edit property')
                img(src='/images/edit.png', alt='Edit')
                | Edit
            td.actions
              a(href='/admin/services/categories/delete/#{c.category_id}', alt='delete property')
                img(src='/images/delete.png', alt='Delete')
                | Delete
  //
    end main content
