.admin-actions
  ul
    if(action != 'add')
      li
        a(href='/pages/add')
         img(src='/images/add.png')
         | &nbsp;
         | Add Page
    if(action != 'index')
      li
        a(href='/pages')
          img(src='/images/manage.png')
          | &nbsp;
          | Manage Pages