.admin-actions
  ul
    li
      a(href='/admin/pages/add')
       img(src='/images/add.png')
       | &nbsp;
       | Add Page
    
    li
      a(href='/admin/pages')
        img(src='/images/manage.png')
        | &nbsp;
        | Manage Pages