extends ../../layout

block content
  
  script(src="/js/tiny_mce/tiny_mce.js")
  
  .container.row.main
    
    include ../menu
    
    h1 Add Page
    
    include actions
  
    .grid-header.form-header
    
    .details
      
      form.details-form(action='/admin/pages', method='post')
        
        include inputs

        .submit
         input.button(type='submit', value='Create Page')
         a.left-button(href='/admin/pages') Cancel