extends ../layout
style(type='text/css')
  dl.image_map {display:block; width:401px; height:341px; background:url(../images/map-large.png); position:relative; margin:2px auto 2px auto;}
block content
  //
    main content
  .container.row.main
    include ../left_nav
   
    //
      center-col
    
    #center-col
      h1 Welcome to Owl Deals
      p Looking to swoop on a great deal when buying a new property?  Look no further as Owl Deals provides for a wide range of different properties throughout Australia whereby Sellers offer great deals when it comes to houses, apartments, townhouses, land, villas, and other new properties.
      p Click on a State/Territory from the map below to view the many new property deals on offer.
      #map
        div(style='text-align: center; width: 401px; margin-left: auto; margin-right: auto;')
          img#Image-Maps_9201211252109146(src='http://www.image-maps.com/uploaded_files/9201211252109146_map-large.png', usemap='#Image-Maps_9201211252109146', border='0', width='401', height='341', alt='')
          map#_Image-Maps_9201211252109146(name='Image-Maps_9201211252109146')
            area(shape='poly', coords='265,312,227,80,229,169,321,182,349,196,341,152,285,84,254,10,', href='/owls/state/qld', alt='Queensland', title='Queensland')
            area(shape='poly', coords='230,176,225,219,326,238,349,190,', href='/owls/state/nsw', alt='New South Wales', title='New South Wales')
            area(shape='poly', coords='224,221,210,237,241,288,309,280,325,243,', href='/owls/state/vic', alt='Victoria', title='Victoria')
            area(shape='poly', coords='229,83,224,167,129,158,130,54,159,19,201,27,', href='/owls/state/nt', alt='Northern Territory', title='Northern Territory')
            area(shape='poly', coords='132,165,131,223,167,223,196,247,225,212,225,175,', href='/owls/state/sa', alt='South Australia', title='South Australia')
            area(shape='poly', coords='126,57,127,225,29,252,2,143,76,92,117,44,', href='/owls/state/wa', alt='Western Australia', title='Western Australia')
            area(shape='poly', coords='260,308,278,336,373,327,371,296,', href='/owls/state/tas', alt='Tasmania', title='Tasmania')
            area(shape='poly', coords='345,237,335,258,399,265,400,236,', href='/owls/state/act', alt='Australian Capital Territory', title='Australian Capital Territory')
            area(shape='rect', coords='399,339,401,341', href='http://www.image-maps.com/index.php?aff=mapped_users_9201211252109146', alt='Image Map', title='Image Map')
      br
      p Click on the ‘Reveal the Deal’ icon to view the deal put forward by the Seller.  Like what you see? – Then click on the ‘Secure the Deal’ tab.
      p Your interest in a selected property deal is forwarded to the Seller who can answer any questions you may have and guide you through the purchasing process.
      p If you see the ‘View the Barn Deal’ icon on any of the Owl Deal listings then click on the icon and you may see an even better deal waiting, should you and others wish to secure a limited number of similar properties.
      p Not really in the market to buy a new property, but know of someone who is?  Click on the ‘Refer a Friend’ tab in the left hand column and forward the property details to selected friends and family who you know may have an interest in buying a property.  If that friend or family member subscribes to Property Owl and they purchase a property, then you will be rewarded with a $1000.00 nest egg.  The more people that you refer that subscribe and buy – then the more you earn.
        //
          end center-col
    //
      right-col
    include ../right_nav
        //
          end right-col