extends ../../layout

block content
 //
   main content
 .container.row.main
   include ../../admin-menu
   h1 Pages
   .admin-actions
    ul
     li
      a(href="/administration/pages")
       img(src='/images/manage.png')
       | Manage Pages
     li.disabled
      img(src='/images/add.png')
      | Add New Page
   .grid-header.form-header
    ol.six
     li.active
      .ol-1-active
      | Details
   .details
    h2 Page Details
    hr
    form.details-form(action="/administration/pages/add",method="post")
     include ../../flashify
     .inputs
      label.required(for='inputUrl') Page URL
       input#inputUrl(type="text",name="url",placeholder="/url")
     .inputs
      label.required(for='inputTitle') Page Title
       input#inputTitle(type="text",name="header",placeholder="Page Title")
     .inputs
      label.control-label(for="inputContent") Content:
       textarea#inputContent.span8(name="content",placeholder="Page Content",rows="30")
     .inputs
      select(name="enabled")
       option(value="1") Enabled
       option(value="0") Disabled
     .submit
      input.button(type='submit', value='Create Page')
      a.left-button(href="/administration/pages") Cancel