extends ../../layout

block content
 //
   main content
 .container.row.main
   include ../../left_nav
   //
     center-col
   #center-col
    h1 Edit Page
    include ../../flashify
    form(action="/administration/pages/edit/#{page.page_id}",method="post")
      input(type="hidden",name="_method",value="put")
      p
        input(type="text",name="url",placeholder="/url",value="#{page.url}")
      p
        input(type="text",name="header",placeholder="Page Title",value="#{page.header}")
      p
        textarea(name="content",placeholder="Page Content",rows="30",cols="100")
          = page.content.replace(/<br \/>/g,"\r\n")
      p
        select(name="enabled")
          option(value="1") Enabled
          option(value="0") Disabled
      p
        input(type="submit")