extends ../../layout

block content
  legend
    h3 Best State Deals
  p Select State Please
  - var states = [ {c: 'qld',n: 'Queensland'}, {c: 'nsw',n: 'New South Wales'}, {c: 'act',n: 'A.C.T'},{c: 'vic',n: 'Victoria'},{c: 'sa',n: 'South Australia'},{c: 'wa',n: 'Western Australia'},{c: 'nt',n: 'Northen Territory'},{c: 'tas',n: 'Tasmania'}]
  ul
    - each state in states
      li
        a(href="/deals/state/#{state.c}")= state.n
