extends ../../layout

block content
  legend
    h3 Best State Deals
  p Select State Please
  ul
    li
      a(href="/deals/state/qld") Queensland
    li
      a(href="/deals/state/nsw") New South Wales