script
  $(document).ready(function(){
    // enlarge slideshow
    $(".evoslider").each(function() {
      var slider = $(this);

      slider.on("mouseenter", function() {
        slider.append("<a href=\"#\" class=\"enlarge-slider\">Click to enlarge</a>");
      });

      slider.on("mouseleave", function() {
        $(".enlarge-slider", slider).remove();
      });


      $(".enlarge-slider, .evoImage", slider).live("click", function() {
        $("body").append("<div class=\"window-overlay\" id=\"large-slideshow\"><div class=\"modal\"><a href=\"#\" class=\"close-modal\">CLOSE <img src=\"/images/modal-close-white.png\" alt=\"Close\" /></div></div>");
        var overlay = $("#large-slideshow");
        duplicateSlider = initialSlider.clone();
        $(".modal", overlay).append(duplicateSlider);
        //(function (mySlider) {
          //console.log ('slider index: ' + mySlider.getIndex());
          var duplicate = duplicateSlider.evoSlider({
            mode: "slider",
            controlNav: true,
            controlNavMode: "thumbnails",
            controlNavVertical: false,
            autoplay: false,
            controlNavPosition: "outside",
            controlNavVerticalAlign: "right",
            width: "800",
            height: "466",
            mouse: false,
            imageScale: "fitImage",
            easing: "linear",
            keyboard: false,
            startIndex: mySlider.getIndex()
          });
        //})(mySlider);
        overlay.fadeIn(150);

        var documentheight = $(document).height();
        var screenwidth = $(window).width();
        var sliderwidth = 320;

        if(screenwidth >= 1000) {
          sliderwidth = 800;
          //console.log('fullscreen');
        }
        else if(screenwidth >= 650) {
          sliderwidth = 640;
          //console.log('tablet');
        }
        else {
          //console.log('mobile');
        }

        $('#large-slideshow .modal').css({left:(screenwidth-sliderwidth)/2+'px'});
        $('#large-slideshow').css({height:documentheight+'px'});
        return false;
      });
    });

    // window overlay
    $(".window-overlay, .close-modal").live("click", function(){
      $(".window-overlay").fadeOut(150, function(){
        $(".window-overlay").remove();
      });
    });

    $(".modal").live("click", function(){
      return false;
    });
  });  