extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col.mobile-full
      
      div!= cms
      
      if locals.barns && barns.length
        
        each barn in barns
          
          include summary
      
      else
        
        hr
        
        p There are no barn deals available at the moment but please check back soon.
    
    include ../right_nav