.admin-actions
  ul
    li
      a(href='/administration/advertisers/add')
        img(src='/images/add.png')
        | Add
    li
      a(href="/administration/advertisers")
        img(src='/images/manage.png')
        | Manage