.admin-actions
  ul
    if(action != 'add')
      li
        a(href="/users/add")
          img(src='/images/add.png')
          | &nbsp;
          | Add Member
    if(action != 'index')
      li
        a(href="/users")
          img(src='/images/manage.png')
          | &nbsp;
          | Manage Members

    li
      span
        | Total Members: #{users.length}