extends ../layout

block content

  .container.row.main
    
    include ../left_nav
    
    #center-col
      
      h1 #{_s.capitalize(req.type)}
      
      h3 Innovation in delivering Australia's best property deals
      
      - if (posts.length == 0)
        p There are no #{req.type} items for now. Please check back soon. 
      - else
        
        - each post in posts
          
          include summary
    
    include ../right_nav