.admin-actions
  ul
    - locals.action = locals.action || null
    if(action != 'add')
      li
        a(href='/advertisers/add')
          img(src='/images/add.png')
          | &nbsp;
          | Add Advertiser
    
    if(action != 'index')
      li
        a(href='/advertisers')
          img(src='/images/manage.png')
          | &nbsp;
          | Manage Advertisers