extends ../../layout

block content
  
  .container.row.main
    
    include ../../left_nav
    
    #center-col
      
      h3 Delete Advertiser?
      
      p Are you sure you wish to delete:
        em
          u #{advertiser.name}
      
      form.form-horizontal(action="/admin/advertisers/#{advertiser.advertiser_id}", method='post')
        
        input(type='hidden', name='_method', value='delete')
        
        div.control-group
          
          div.controls
            input.btn.btn-danger(type='submit', value='Delete')
            | &nbsp;
            a.btn(href='/admin/advertisers') Cancel