.admin-actions
  ul
    li
      a(href='/admin/advertisers/add')
        img(src='/images/add.png')
        | Add
    li
      a(href="/admin/advertisers")
        img(src='/images/manage.png')
        | Manage