extends ../../layout

block content
  legend
    h3 Developer Properties
  
  - each property in properties
    li
      a(href="/properties/view/#{property.property_id}")= property.title
  
  a.btn.btn-primary(href="/developers/properties/add") + Add Property