extends ../../layout

block content
  //
    main content
  .container.row.main
   h1 Add Article
   .admin-actions
    ul
     li
      a(href="/administration/news")
       img(src='/images/manage.png')
       | Manage News
     li.disabled
      img(src='/images/add.png')
      | Add New Article
   .grid-header.form-header
    ol.six
     li.active
      .ol-1-active
      | Details
   .details
    h2 News Details
    hr
    form.details-form(action="/administration/news/add",method="post")
     include ../../flashify
     .inputs
      label.required(for='inputTitle') Headline
       input#inputTitle(type="text",name="title",value="")
     .inputs
      label.control-label(for="inputContent") Content:
       textarea#inputContent.span8(name="content",rows="10")
     .inputs
     .submit
      input.button(type='submit', value='Post News')
      a.left-button(href="/administration/news") Cancel