extends ../../layout

block content
  //
    main content
  .container.row.main
      include ../admin-menu
      h3 Delete News Post?
  
      p Are you sure you wish to delete: 
        em
          u #{news.title}
      form.form-horizontal(action="/administration/news/delete/#{news.news_id}",method="post")
        input(type="hidden",name="_method",value="delete")

        div.control-group  
          div.controls
            input.btn.btn-danger(type="submit",value="Delete")
            | &nbsp;
            a.btn(href="/administration/news/") Cancel