extends ../../layout

block content
    form.form-horizontal(action="/administration/news/edit/#{news.news_id}",method="post")
      input(type="hidden",name="_method",value="put")
      include ../../flashify
      div.control-group  
        label.control-label(for="inputTitle") Title:
        div.controls
          input#inputTitle(type="text",name="title",value="#{news.title}")
      
      div.control-group  
        label.control-label(for="inputContent") Content:
        div.controls
          textarea#inputContent.span8(name="content",rows="10")
            | #{news.content}
      
      div.control-group  
        div.controls
          input.btn.btn-primary(type="submit",value="Update News")
          | &nbsp;
          a.btn(href="/administration/news/") Cancel