extends ../../layout

block content
 //
   main content
 .container.row.main
   include ../../left_nav
   //
     center-col
   #center-col
    h1 Site News
    include ../../flashify
    a(href="/administration/news/add") Post News
    div
      table(width="100%")
        thead
          th(width="20%") ID
          th(width="50%") Title
          th Actions
        tbody
          - each post in news
            tr
              td(width="20%")= post.news_id
              td= post.title
              td
                small
                  a(href="/administration/news/edit/#{post.news_id}") Edit
                  | &nbsp;|&nbsp;
                  a(href="/administration/news/delete/#{post.news_id}") Delete