@charset "UTF-8";
/* CSS Document */

/* @group large format specific content */
@media screen and (min-width: 650px) {
}
/* @end */



/* @group tablet device: 640px */
@media screen and (max-width: 999px) {
    body {
        font-size: 13px;
    }
    
    .row {
        width: 640px;
    }
    
    #header {
        height: 11.7em;
        
        > div {
            &#top-header {
                margin: 0 0 -2.188em 0;
                margin: 0;
            }
            
            > div {
                &#logo-box {
                    .column(3, 0);
                    padding: 0 20px;
                    margin-bottom: -2.188em;
                }
                &#banner-box {
                    .column(9, 0px);
                    margin-top: @padding-small;
                }
            }
        }
    
        #menu {
            ul {
                .column(9, 0px);
                float: right;
            }
            li {
              
              
              a {
                  font-size: 0.8em;
              }

              ul {
                width: 10em;
              }
          }
        }
    }
    
    .no-csstransforms {
      .best-deal > div .home-timer #map svg {
          left: -4px !important;
          top: 18px !important;
          zoom: 0.7;
      }
      
      .main > div#left-col .deal-stats .timer #map svg {
        left: -9px !important;
        top: -302px !important;
        zoom: 0.5;
      }

      #big-map svg {
      zoom: 0.8 !important;
      left: -30px !important;
      }
    }
    
    .best-deal {
        
        > div {
        
            &.home-deal-stats {
                .home-timer {
                    #timer {
                        > div {
                            + div {
                                
                                &:before {
                                    .box-shadow(~"0px 0px 0.313em 0.313em #c51212");
                                }
                            }
                        
                            .label {
                                font-size: 0.6em;
                            }
                        }
                    }
                    
                    #map {
                        #map-image {
                            margin: @padding-small 0 0 0;
                        }
                        
                        svg {
                          position: relative;
                          left: -40px !important;
                          top: -15px !important;
                          
                          transform: scale(0.7);
                          -ms-transform: scale(0.7); /* IE 9 */
                          -webkit-transform: scale(0.7); /* Safari and Chrome */
                          -o-transform: scale(0.7); /* Opera */
                          -moz-transform: scale(0.7); /* Firefox */
                        }
                    }
                }
                
                .home-counter {
                  .label {
                    font-size: 0.8em;
                    line-height: 1.3;
                  }
                }
            }
            
            &.deal-summary {
                            
                .home-hero-caption {                    
                    p {
                        font-size: 0.9em;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }
    
    .main {
            
        > div {
            &#left-col {
                
                h2 {
                    font-size: 1.1em;
                }
                
                h3 {
                    font-size: 0.8em;
                }
                
                .deal-stats {
                                
                    .timer {
                        
                        #timer {
                        
                            > div { 
                                padding-left: 0;
                                padding-right: 0;
                                
                                .label {
                                    font-size: 0.5em;
                                }
                            }
                        }
                        
                        #map {
                          height: 8.5em;
                          
                          svg {
                            position: relative;
                            left: -59px !important;
                            top: -35px !important;
                            
                            transform: scale(0.45);
                            -ms-transform: scale(0.45); /* IE 9 */
                            -webkit-transform: scale(0.45); /* Safari and Chrome */
                            -o-transform: scale(0.45); /* Opera */
                            -moz-transform: scale(0.45); /* Firefox */
                          }
                        }
                    }
                }
                
                
                .find-deals {
                                    
                    #input-form {
                    
                       img.small {
                           display: inline;
                       }    
                                
                        .small-left, .small-right {
                        .no-column(0);
                        }
                    }
                }

                .share {
                  ul {
                    font-size:0.8em;
                  }
                }
                
            }
            
            &#center-col {
        
                a.show-refer-friend {
                  margin:auto 100px;
                }

                .grid-header {
                  ol {
                    &.tabs {
                      font-size:0.6em;
                    }
                  }
                }

                #big-map svg {
                  top: 0px !important;
                  left: -60px !important;
                  transform: scale(0.8);
                  -ms-transform: scale(0.8); /* IE 9 */
                  -webkit-transform: scale(0.8); /* Safari and Chrome */
                  -o-transform: scale(0.8); /* Opera */
                  -moz-transform: scale(0.8); /* Firefox */
                }

                .listing-summary {

                    .header {
                      height: auto;
                    }
                    .listing-body {
                        .listing-thumb {
                        
                          .thumb {
                            height: auto;
                          }
                        }
                        .listing-details {
                            height:auto;

                            .features {
                                
                                span {
                                    line-height: 1em;
                                    font-size: 0.6em;
                                    
                                    img {
                                        display: block;
                                    }
                                }
                            }

                            .listing-links {
                              > a {
                                font-size:0.7em;
                                line-height: 2.8em;
                              }
                            }
                            
                            p {
                                font-size: 0.9em;
                            }
                        }
                    }
                }

            }
            
            &#wide-center-col { 
            
                .slider-box {
                    height: 24.9em;
                }
                
                .property-info {
                
                    #right {
                    
                        .secure-deal {
                            top: -115px;
                            
                            > a {
                                font-size: 1em;
                            } 
                        }
                        
                        .deal {
                                                    
                            h2 {
                                font-size: 1.1em;
                                line-height: 1.8em;
                            }
                        }
                        
                        .more-info {
                          h2 {
                            font-size: 1em;
                          }
                        }
                    }   
                }      
            }
        }
    }
    
    h1 {
        font-size: 1.8em;
    }
    .login-overlay, .register-overlay, .secure-deal-overlay {
      .modal {
        left:48%;
        width:39.125em;
        height:31.5625em;
      }
    }

    .login-overlay {
      .modal {
        padding-top:165px;
      }
    }

    .register-overlay {
      .modal {
        padding-top:143px;
      }
    }

    .secure-deal-overlay {
      .modal {
        padding-top:160px;
      }
    }

    .refer-friend-overlay {
      .modal {
        padding-top:143px;
      }
    }
    
    .evoslider {
      height: 296px !important;
      
      > dl {
        width: 365px !important;
        
        dd {
          height: 276px !important;
        }
      }
      
      .evoImage {
        height: 276px !important;
      }
      
      .outer_control,
      .controlNav,
      .control_wrapper {
        height: 276px !important;
      }
      
      .arrow_prev,
      .arrow_next {
        top: 110px !important;
      }
    }
    .evoslider.galleriffic dl {
      height:276px !important;

      dd {
        img {
          height:276px !important;
        }
      }
    }
    .evoslider.galleriffic .controlNav li.thumbnails 
    {
      width : 133px;
      height : 100px;
    }

    /* The arrow next */
    .evoslider.galleriffic .arrow_next 
    {
      right : 12.5em;
    }
    #large-slideshow .modal {
      width:640px;
      height:597px !important;
    }
    .window-overlay .evoslider {
      height: 597px !important;
      
      .outer_control {
        height:115px !important;
      }
      .evoImage, .control_wrapper, dd {
        height:472px !important;
      }
    }
    .window-overlay .evoslider > dl {
      width: 100% !important;
      height: 472px !important;
        
        dd {
          width: 100% !important;
          
          img {
            width: 100% !important;
            height: 472px !important;
          }
        }
    }

  .sf-menu li:hover ul,
  .sf-menu li.sfHover ul {
    line-height:2em;
    font-size:1.2em;
    top: 1.2em; /* match top ul list item height */
  }

}
/* @end */




/* @group smart phone device - landscape: 320px */
@media screen and (max-width: 649px) {
  #banner-box,
  .ad-box,
  .ad-tower {
    display: none;
  }
  
    body {
        font-size: 13px;
    }
    
    .row {
        width: 320px;
    }
    
    #header {
      height: 11.2em;
      
      > div {
          &#top-header {
              margin: 0 0 1em 0;
              margin: 0;
          }
          
          > div {
              &#logo-box {
                margin: 2em 0 0 0;
                position: absolute;
                .column(5,0);
                margin-bottom: 0;
                margin-top: 1em;
              }
              &#banner-box {
                  .no-column(0);
                  position: relative;
                  .clearfix;
                  top: 0;
                  
                  #banner {
                      margin-top: 0;
                      margin-bottom: 2.188em;
                  }
              }
          }
      }
        
        #menu {
            .column(8,0);
            float: right;
            ul {
                width: 100%;
            }
            li {
                float: none;
                text-align: center;
                + li {
                    border-top: solid 1px #084c81;
                    .box-shadow(~"inset 0px 1px 0px rgba(255,255,255,0.25)");
                  &:before {
                      content: none;
                  }
                }
                
                a {
                    width: 100%;
                    font-size: 0.9em;
                }
            }
        }
    }
    
    .no-csstransforms {
      .best-deal > div .home-timer #map svg {
        left: -4px !important;
        top: 7px !important;
        zoom: 0.9;
      }
      
      .main > div#left-col .deal-stats .timer #map svg {
        left: 60px !important;
        top: -15px !important;
        zoom: 0.9;
      }
      
      #big-map svg {
        zoom: 0.65 !important;
        left: -45px !important;
      }
    }
    
    .best-deal {
        height: 42em;
        position: relative;
        
        > div {
            &.home-deal-stats {
                .column(12, 0);
                margin-bottom: @padding-small;
                position: absolute;
                top: 20.625em;
                            
                .home-timer {
                    .rounded(0.313em);
                                        
                    #timer {
                        .rounded(0.313em);
                    
                        > div {
                            
                            + div {
                                
                                &:before {
                                    .box-shadow(~"0px 0px 0.4em 0.4em #c51212");
                                }
                            }
                        }
                    }
                    
                    #map {
                        height: 13.5em;
                        .rounded(0.313em);
                        
                        #map-image {
                            margin-left: 5em;
                            margin-right: 5em;
                        }
                        
                        svg {
                          position: relative;
                          left: -4px !important;
                          top: -4px !important;
                          
                          transform: scale(0.9);
                          -ms-transform: scale(0.9); /* IE 9 */
                          -webkit-transform: scale(0.9); /* Safari and Chrome */
                          -o-transform: scale(0.9); /* Opera */
                          -moz-transform: scale(0.9); /* Firefox */
                        }
                    }
                    
                }
                .home-counter {
                    .rounded(0.313em);
                    
                    .label {
                      font-size: 1em;
                      line-height: 1.8;
                      max-width: 60%;
                    }
                }
            }
            
            &.deal-summary {
                .rounded(0.313em);
                .column(12, 0px);
                height: 20em;
                position: absolute;
                top: 0;
                
                .home-hero-caption {
                    .rounded-top-left(0.313em);
                    .rounded-top-right(0.313em);
                    
                    h2 {
                        font-size: 1.4em;
                    }
                    
                    img {
                        display: none;
                    }
                }
            }
        }
    }
    
    .main {
        display: table;
                
        > div {
            &#left-col {
                .no-column(0);
                width: 320px;
                padding-left: 0;
                
                .find-deals {
                  h2 {
                    cursor: pointer;
                    
                    &:after {
                      content: '';
                      float: right;
                      margin: 7px 15px 0 0;
                      border-top: 6px solid #0085C6;
                      border-left: 6px solid transparent;
                      border-right: 6px solid transparent;
                      border-bottom: none;
                    }
                  }
                  
                    #input-form {
                      display: none;
          }
          
          &.display {
            #input-form {
              display: block;
            }
          }
        }
                
                .deal-stats {
                                
                    .timer {
                        #map {
                        height: 14em;
                        
                            img {
                                margin-left: 4.063em;
                            }
                            
                            svg {
                              position: relative;
                              left: 40px !important;
                              top: 0px !important;
                              
                              transform: scale(0.9);
                              -ms-transform: scale(0.9); /* IE 9 */
                              -webkit-transform: scale(0.9); /* Safari and Chrome */
                              -o-transform: scale(0.9); /* Opera */
                              -moz-transform: scale(0.9); /* Firefox */
                            }
                        }
                    }
                }
            }
            &#home-center-col,
            &#center-col {
                .no-column(0);
                padding-left: 1.875em;
                display: table-header-group;

                a.show-refer-friend {
                  margin:auto 50px;
                }

                .grid-header {
                  ol {
                    &.tabs {
                      font-size:0.45em;
                    }
                  }
                }

                #big-map {
                  width: 320px;
                  height: 250px;
                  
                    svg {
                      left: -115px !important;
                      top: -68px !important;
                      
                      transform: scale(0.65);
                      -ms-transform: scale(0.65); /* IE 9 */
                      -webkit-transform: scale(0.65); /* Safari and Chrome */
                      -o-transform: scale(0.65); /* Opera */
                      -moz-transform: scale(0.65); /* Firefox */
                    }
                }

                .listing-summary {
                    .header {
                      height: auto;
                    }

                    .listing-body {
                        
                        .listing-thumb {
                        
                          .thumb {
                            height: auto;
                          }
                        }

                        .listing-details {
                            height: auto;
                            .features {
                                
                                span {
                                    font-size: 0.7em;
                                }                            
                            }
                            
                            .listing-links {
                                
                                > a {
                                    font-size: 0.8em;
                                    margin-bottom: -1px;                                    
                                }
                            }
                        }
                    }
                }
                
            }
            &#wide-center-col { 
                .no-column(0);
                width: 320px;
                
                .slider-box {
                    height: 17.6em;
                }
                
                .property-info {
                    #left {
                      clear:both;
                    }
                    #left, #right {
                        .no-column(0);
                    }
                    
                    #right {
                        position: none;
                        float: left;
                        padding-right: 0;
                        width: 100%;
                    }
                }
            }
            &#right-col {
                .no-column(0);
                width: 320px;
                padding-right: 0;
            }
        }
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    .quote {
        font-size: 0.9em;
    }
    
    #footer {
        > div {
            .column(6, 1.250em);
            padding-top: 0.313em;
        }
    }

    .login-overlay, .register-overlay, .secure-deal-overlay, .refer-friend-overlay {
      .modal {
        top:46%;
        background-size:113% auto;
        overflow:hidden;
      }
    }

    .login-overlay {
      .modal {
        height:50.5625em;
        padding: 190px 90px 0;
      }
    }

    .register-overlay {
      .modal {
        height:49.5625em;
        padding: 175px 90px 0;
      }
    }

    .secure-deal-overlay {
      .modal {
        height:50.5625em;
        padding: 186px 90px 0;

        .modal-content {
          .button.right {
            margin-right:2em;
          }
        }
      }
    }

    .refer-friend-overlay {
      .modal {
        height:49.5625em;
        padding: 185px 90px 0;

        .modal-content {
          .button.right {
            margin-right:1em;
          }
        }
      }
    }

    .modal-overlay {
      .modal {
        left:71%;
        width:319px;
        height:400px;
      }
    }
    
    .evoslider {
      height: 170px !important;
      
      > dl {
        width: 190px !important;
        height: 150px !important;
        
        dd {
            height: 150px !important;

            img {
              height: 150px !important;
            }
        }
      }
      
      .evoImage {
        height: 150px !important;
      }
      
      .outer_control,
      .controlNav,
      .control_wrapper {
        height: 150px !important;
      }
    }

    .evoslider.galleriffic .controlNav li.thumbnails 
    {
      width : 100px;
      height : 75px;
    }

    /* The arrow next */
    .evoslider.galleriffic .arrow_next 
    {
      right : 10em;
    }

    .evoslider.galleriffic dl dd img {
      height:150px !important;
    }

    #large-slideshow .modal {
      width:320px;
      height:294px !important;
    }
    .window-overlay .evoslider {
      height: 294px !important;
      
      .outer_control {
        height:91px !important;
      }
      .evoImage, .control_wrapper, dd {
        height:203px !important;
      }
    }
    .window-overlay .evoslider > dl {
      width: 100% !important;
      height: 203px !important;
        
        dd {
          width: 100% !important;
          
          img {
            width: 100% !important;
            height: 203px !important;
          }
        }
    }
    
}
/* @end */



img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
