extends ../layout

block content
  legend
    h3 News Updates
  
  include ../flashify
  
  - each post in news    
    h4 #{post.title} 
      small.timeago(title="#{post.posted_at}")=  post.posted_at
    p= post.content
    br
  
  script
    $('small.timeago').timeago();