extends ../layout

block content
  legend
    h3 News Updates
    
  h4 Merry Christmas! 
    small 25/12/2012 at 00:00:00
  p On behalf of all of us, have a good xmas!
  br
  
  h4 Merry Christmas! 
    small 25/12/2012 at 00:00:00
  p On behalf of all of us, have a good xmas!
  br