extends ../../layout

block content
 .container.row.main
   include ../../admin-menu
   
   h1 Advertising
   
   h5
     a(href="/administration/advertisers") Advertisers
   
   h5
     a(href="/administration/advertisements") Advertisements