.admin-actions
  ul
    li
      a(href='/admin/news/add')
       img(src='/images/add.png')
       | &nbsp;
       | Add News Article
    li
      a(href='/admin/news')
        img(src='/images/manage.png')
        | &nbsp;
        | Manage News Articles