.admin-actions
  ul
    if(action != 'add')
      li
        a(href='/admin/news/add')
         img(src='/images/add.png')
         | &nbsp;
         | Add News Article
    if(action != 'index')
      li
        a(href='/admin/news')
          img(src='/images/manage.png')
          | &nbsp;
          | Manage News Articles