extends ../../layout

block content
  
  .container.row.main
    
    include ../menu
    
    h1 Add Article
    
    include actions
    
    .grid-header.form-header
      ol.six
        li.active
          .ol-1-active
          | Details
    
    .details
      h2 News Details
      
      hr
      
      form.details-form(action='/admin/news/add', method='post')
        include ../../flashify
        
        .inputs
          label.required(for='newsType') Article Type
          select#newsType.half-field(name='news_type')
            option(value='news') News
            option(value='research') Research
        
        .inputs
          label.required(for='inputTitle') Headline
          input#inputTitle(type='text', name='title', value='')
        
        .inputs
          label.control-label(for="inputContent") Content:
          textarea#inputContent.span8(name='content', rows='10')
        
        .inputs
        
        .submit
          input.button(type='submit', value='Post News')
          a.left-button(href='/admin/news') Cancel 