extends ../../layout

block content
 
  .container.row.main
    
    include ../menu
    
    h1 News Articles
    
    include ../../flashify
    
    include actions
    
    .grid-header
    
    table.admin-gridview
     thead
      tr
       td Type
       td Headline
       td Date
       td(colspan='2') Actions
     
     tbody
     - each post in news
      include summary
     
     tfoot
       tr