extends ../layout

block content
  
  .container.row.main
    include ../left_nav
    
    #center-col
      
      h1 Welcome to Products and Services
      
      p At Property Owl we love working with the below businesses.
      
      p Search through the different categories for the product or service you are seeking. Click on the Enquire Now tab, complete the required fields, then click on Submit and you will receive information on their advertised deals.
      
      p Cannot find a product or service that suits your needs? Advise us of your property needs and we will find the business or businesses who are willing to provide a great deal to Property Owl subscribers.
      
      h3 Property Owl &#45; Innovation in delivering Australia&#39;s Best Property Deals
      
      - if (affiliates.length)
        - each affiliate in affiliates
          
          include summary
      
      - else
        p No services have been listed on Property Owl
    
    include ../right_nav