extends ../layout

block content
  
  .container.row.main
    
    include ../left_nav
    
    #center-col
      
      div!= cms
      
      - if (locals.categories && locals.categories.length)
        h4 Filter By Category:
          form(action="",method="get")
            select(name="category")
              option(value='') All
              each category in categories
                - var s = (id == category.id) ? true : false
                option(value="#{category.id}",selected=s)= category.key
            | &nbsp; 
            input(type="submit",value="Search",class="button")
        - each category in categories
          
          - if (id != 0 && id != 'All')
            if (id == category.id)
              h3= category.key
              - var count = 0
              each affiliate in affiliates
              
                - if (affiliate.category_id == category.id)
                  
                  //- h5= affiliate.name
                  if affiliate.visible == 1
                    include summary
                    - count++
                    
              if count == 0
                p No services found for this category yet.
        
          - else
            h3= category.key
            - var count = 0
            each affiliate in affiliates
              
              - if (affiliate.category_id == category.id)
                
                //- h5= affiliate.name
                
                if affiliate.visible == 1
                  include summary
                  - count++

            if count == 0
              p No services found for this category yet.
      
      - else
        
        p No services have been listed on Property Owl
    
    include ../right_nav