.listing-summary.affiliate(data-id=affiliate.id)
  
  .header
    h2= affiliate.name
  
  .listing-body
    
    .listing-thumb
      img.thumb(src='/images/services-thumb.jpg')
    
    .listing-details
      
      .summary
        p= affiliate.description
      
      .listing-links
        a.enquire-button(href='#') Enquire